// Space
$space-top: (
  null: 1rem,
  large: 1.5rem
);

$space-bottom: (
  null: 3.5rem,
  large: 6rem
);

@mixin border-top {
  position: relative;
  border: none!important;
  @include responsive(padding-top, $space-top);
  @include responsive(padding-bottom, $space-bottom);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .0625rem;
    background-color: $grey2;
  }
}

.border-top {
  @include border-top;
}

.field--name-field-paragraphs {
  .field__item {
    position: relative;
  }
}

.paragraph {
  position: relative;
  width: 100%;
}

.hidden-paragraph {
  display: none !important;
}
