.paragraph {

  &--type--cards-landing {
    @include border-top;
    margin-bottom: -2rem;

    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title);
      margin: 0 0 1rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 1.5rem;
      }
    }

    .field--name-field-description {
      @include responsive(font-size, $section-title-small);
      margin: 0 0 2rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 3rem;
      }
    }

    .card {
      margin-bottom: 2rem;
    }

    .card-footer {
      display: flex;

      .field--name-field-email {
        margin-right: 0.5rem;
      }
    }
  }

  &--type--cards-article {

    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title-small);
      margin-bottom: 1rem;
    }

    .field--name-field-description {
      @include responsive(font-size, $section-text-small);
    }

    .row {
      display: grid;
      grid-gap: 2rem;
      margin: 1.5rem 0 0;
      @include mb-block;
      @include min-screen($screen-tablet) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

