.paragraph {
  &--type--datagrid {
    @include mb-block;

    .table-bordered {
      border: none;

      th, td {
        border-left: none;
        border-right: none;
        border-width: 1px;
      }
    }

    .table-borderless {
      tbody > tr:first-child {
        display: none;
      }
    }

    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title);
      margin: 0 0 1rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 1.5rem;
      }
    }
    .field--name-field-description,
    .field--name-field-text {
      p {
        @include responsive(font-size, $section-title-small);
      }

      margin: 0 0 2rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 3rem;
      }
    }

    .field--name-field-title,
    .field--name-field-description,
    .field--name-field-text {
      @include min-screen($screen-desktop) {
        max-width: 51.5rem;
      }
    }
  }
}

// Homepage/ landing override

.node--type-homepage,
.node--type-landing {

  .paragraph--type--datagrid {
    @include border-top;
    margin-bottom: 0;
  }

}
