.event {
  background-color: $grey1;
  padding: 1.5rem;
  border-radius: .5rem;
  font-size: 1rem;
  line-height: 1.375rem;

  @include min-screen($screen-desktop) {
    padding: 2rem;
  }

  .event-word {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $BlueU;
    margin: 0 0 0.5rem;
  }

  .field--name {
    &-title {
      font-size: 1.125rem;
      line-height: 1.5rem;
      font-weight: 600;
      margin: 0;

      @include min-screen($screen-desktop) {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }

    &-field-date {
      font-weight: 600;
      margin: 0;
      font-size: 1rem;
      line-height: 1.75rem;
    }

    &-field-location {
      margin: 1rem 0 0.5rem;
      font-size: 1rem;
    }
  }

  .field-prefix {
    font-weight: 600;
  }

  .wrapper-event-item {
    display: flex;
    margin-bottom: 0.5rem;

    a {
      color: $darkGrey;
      text-decoration: underline;
    }

    .field-prefix {
      margin-right: 0.25rem;
    }
  }

  .field--name-field-language {
    .field__item {
      display: inline;
      &::after {
        content: ',';
      }
    }
    :last-child.field__item::after {
      content: '';
    }
  }

  .buttons-event {
    margin-top: 2rem;
    margin-bottom: -.5rem;

    >.field,
    >a {
      display: inline-block;
      margin-right: 0.5rem;
    }

    .btn {
      margin-bottom: 0.5rem;
    }

    .lien-ical {
      &::after {
        @include icon('calendar_today');
        color: inherit;
        font-size: 1rem;
        vertical-align: middle;
        margin-left: 0.5rem;
      }
    }
  }

  .calendar-links-wrapper {
    a {
      margin-right: 0.5rem;
    }
  }

  .calendar-links {
    position: absolute;
    min-width: 10rem;
    padding: .5rem 0;
    list-style: none;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $grey2;
    border-radius: 1.5rem;
    z-index: 1;

    a {
      color: $grey4;
      text-decoration: none;
      line-height: 2.2;
      font-size: .875rem;
    }
  }
}

.node--type-sequenced-page,
.node--type-page,
.node--type-article {
  .event {
    @include mt-block-sm;
  }
}

.node--type-homepage,
.node--type-landing {
  .event {
    @include mt-block;
  }
}
