$faq-text: (
  null: 1rem,
  medium: 1.125rem
);

.paragraph {
  &--type--faq {
    @include mb-block;

    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title);
      margin: 0 0 1rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 1.5rem;
      }
    }

    .field--name-field-description {
      @include responsive(font-size, $section-title-small);
      margin: 0 0 2rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 3rem;
      }
    }

    .field--name-field-ref-faqs {
      border-radius: .5rem;
      padding: .5rem 1.5rem;
      @include responsive(font-size, $faq-text);
      display: flex;
      flex-direction: column;
      @include min-screen($screen-desktop) {
        padding: 1rem 2rem;
      }

      .faq-wrapper {
        margin: .75rem 0;

        .faq-title {
          position: relative;
          display: flex;
          align-items: center;;
          font-weight: 600;
          padding: 0 2rem 0 0;
          cursor: pointer;
          &::after {
            @include icon('expand_more');
            position: absolute;
            display: inline-block;
            right: 0;
            font-size: 1.5rem;
            line-height: 1;
            transition: .3s;
          }

          &.active-item {
            &::after {
              transform: rotate(-180deg);
            }
          }
        }

        .faq-text {
          display: none;
          padding-top: 1rem;

          p:last-child {
            margin-bottom: 0;
          }
        }

      }
    }
  }
}
