.paragraph--type--image-map {
  .image-map {
    position: relative;
    margin-top: 2rem;
    padding-top: 100%;
    overflow: scroll;

    img {
      max-width: unset;

      @include min-screen($screen-desktop) {
        max-width: 100%;
      }
    }

    @include min-screen($screen-tablet) {
      padding-top: 66.57%;
    }

    @include min-screen($screen-desktop) {
      margin-top: 3rem;
      padding-top: 0;
      overflow: unset;
    }

    .wrapper {
      position: absolute;
      left: 0;
      top: 0;

      @include min-screen($screen-desktop) {
        margin-top: 3rem;
        position: static;
      }
    }

    .point {
      position: absolute;
      cursor: pointer;

      > .popup,
      > a {
        position: fixed;
        z-index: 60;
        width: 100%;
        left: 0;
        padding: 1.5rem;
        background-color: $white;
        border: 0.063rem solid $grey2;
        text-decoration: none;
        display: none;

        @include max-screen($screen-desktop - 1px) {
          bottom: 0;
        }

        @include min-screen($screen-desktop) {
          position: absolute;
          z-index: 1;
          top: 1.5rem;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 0.5rem;
          width: 18rem;
        }
      }
    }

    $circle-diameter: 1rem;

    .circle {
      position: absolute;
      left: -.5 * $circle-diameter;
      top: -.5 * $circle-diameter;
      background-color: $BlueU;
      border: 0.063rem solid $white;
      width: $circle-diameter;
      height: $circle-diameter;
      border-radius: 50%;
    }

    .circle :hover {
      border-width: 0.25rem;
      width: 1.25rem;
      height: 1.25rem;
      left: -0.57rem;
      top: -0.57rem;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: $darkGrey;
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }

  .field--name-field-title {
    font-weight: 800;
    @include responsive(font-size, $section-title);
    margin: 0 0 1rem;

    @include min-screen($screen-desktop) {
      margin: 0 0 1.5rem;
    }
  }
  .field--name-field-text {
    @include responsive(font-size, $section-text);
    max-width: 51.5rem;
    p {
      @include responsive(font-size, $section-text);
    }
  }
}
