.paragraph {
  &--type--media {
    margin: 0 auto;

    @include min-screen($screen-desktop) {
      max-width: 38.125rem;
      width: 100vw;
    }

    &.display-big {
      margin: 0;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      @include min-screen($screen-desktop) {
        max-width: 64.875rem;
        width: 100vw;
      }
    }

    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title);
      margin: 0 0 1rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 1.5rem;
      }
    }

    .field--name-field-description,
    .field--name-field-text {
      @include responsive(font-size, $section-title-small);
      margin: 0 0 2rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 3rem;
      }
    }

    .field--name-field {
      &-ref-media {
        margin-bottom: 1rem;
      }

      &-legende,
      &-copyright {
        font-size: 0.875rem;
      }

      &-legende {
        color: $grey5;
      }

      &-copyright {
        color: $grey4;
        .field__item {
          display: inline-block;
        }
      }
    }

    .field--name-field-media-oembed-video {
      position: relative;
      padding-top: 56.26%;
      width: 100%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
