

.paragraph {
  &--type--parallax {
    height: 100vh;

    .text-wrapper {
      position: absolute;
      z-index: 1;
      color: $white;
      top: 6rem;
      @include min-screen($screen-tablet) {
        top: 12.75rem;
      }
      @include min-screen($screen-desktop) {
        top: 14rem;
      }

      .field--name-field-surtitle {
        @include responsive(font-size, $section-title-small);
        margin-bottom: 1rem;
      }

      .field--name-field-title {
        @include responsive(font-size, $article-title);
        font-weight: 800;
      }
    }

    .field--name-field-ref-image {
      position: absolute;
      left: 50%;
      top: 0;
      width: 100vw;
      height: 100%;
      transform: translateX(-50%);
      z-index: 0;
      overflow: hidden;

      &::before {
        content: "";
        display: block;
        background: $darkGrey;
        opacity: .4;
        mix-blend-mode: normal;
        position: absolute;
        left: 50%;
        top: 0;
        width: 100vw;
        height: 100%;
        transform: translateX(-50%);
        z-index: 0;
      }


      .media {
        display: block;
        height: 100%;
        width: 100%;
      }

      .field--name-field-media-image {
        height: 100%;
        width: 100%;
      }

      img {
        @include img-cover;
        position: relative;
        z-index: -1;
      }
    }

  }
}
