.paragraph {
  &--type--rich-text {
    @include mt-block-sm;

    .page-node-type-landing & {
      @include min-screen($screen-desktop) {
        width: 100%;
        max-width: 65.8%;
      }
    }

    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title);
      margin: 0 0 1rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 1.5rem;
      }
    }

    &.boxed {
      border-radius: .5rem;
      padding: 1.5rem;

      .field--name-field-title {
        font-weight: 600;
        font-size: 1rem;

        @include min-screen($screen-desktop) {
          font-size: 1.25rem;
        }
      }

      @include min-screen($screen-desktop) {
        padding: 2rem;
      }
    }

    a[href*="//"] {
      &::after {
        @include icon('open_in_new');
        margin-left: 4px;
        line-height: 1;
        display: inline;
        vertical-align: middle;
      }
    }

    .page-node-type-landing & {
      &:not(.boxed) {
        max-width: 100%;

        .rich-text {
          @include min-screen($screen-desktop) {
            width: 100%;
            max-width: 65.8%;
          }
        }
      }
    }

    &.bg-grey {
      background-color: $grey1;
    }

    &.bg-bluelight {
      background-color: $blueLight;
    }

    &.bg-orangelight {
      background-color: $orangeLight;
    }

    &.bg-purplelight {
      background-color: $purpleLight;
    }

    &.bg-redlight {
      background-color: $redLight;
    }
    &.bg-greenlight {
      background-color: $greenLight;
    }
  }
}


// Homepage/ landing override

.node--type-homepage,
.node--type-landing {

  .paragraph--type--rich-text {
    @include mt-block;
  }

  .paragraph--type--rich-text:not(.boxed) {
    @include mt-border-block;
    margin-bottom: 0;
  }

}


