.paragraph {
  &--type--rich-text {
    @include mt-block-sm;

    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title);
      margin: 0 0 1rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 1.5rem;
      }
    }

    &.boxed {
      border-radius: .5rem;
      padding: 1.5rem;

      .field--name-field-title {
        font-weight: 600;
        font-size: 1rem;

        @include min-screen($screen-desktop) {
          font-size: 1.25rem;
        }
      }

      @include min-screen($screen-desktop) {
        padding: 2rem;
      }
    }

    a[href*="//"] {
      &::after {
        @include icon('open_in_new');
        margin-left: 4px;
        line-height: 1;
        display: inline;
        vertical-align: middle;
      }
    }

    .page-node-type-landing & {
      &:not(.boxed) {
        width: 100%;
        max-width: 83.33333%;
      }
    }
  }
}


// Homepage/ landing override

.node--type-homepage,
.node--type-landing {

  .paragraph--type--rich-text {
    @include mt-block;
  }

  .paragraph--type--rich-text:not(.boxed) {
    @include mt-border-block;
    margin-bottom: 0;
  }

}


