.paragraph {
  &--type--banner-cta {
    position: relative;
    @include container-fluid;
    display: flex;
    flex-direction: column;
    background-color: $BlueU;
    @include mb-block;

    @include min-screen($screen-tablet) {
      flex-direction: row;
      align-items: stretch;
      min-height: 24.375rem;
    }

    @include min-screen($screen-desktop) {
      min-height: 37.125rem;
    }

    @include min-screen($screen-desktop-xxl) {
      justify-content: space-between;
    }

    .banner-cta-texts {
      position: relative;
      z-index: 2;
      width: 100%;
      padding: 1.5rem;
      color: $white;
      &.border {
        border: .125rem solid $white!important;
        width: calc(100% - 3rem);
        margin: 2rem 1.5rem -3rem;
        padding: 1.5rem 1.5rem 6rem;
        @include min-screen($screen-tablet) {
          width: 100%;
          margin: 2rem -30% 2rem 2rem;
          padding: 2rem calc(30% + 2rem) 2rem 2rem;
        }
        @include min-screen($screen-desktop) {
          width: 60vw;
          margin: 3rem -5rem 3rem 3rem;
          padding: 3.5rem 11.5rem 3.5rem 3.5rem;
        }
        @include min-screen($screen-desktop-xxl) {
          max-width: 60vw;
          left: calc(50% - 10rem);
          transform: translateX(-50%);
        }
      }

      .banner-cta-title {
        text-transform: none;
        color: $white;
        @include responsive(font-size, $full-media-title);
        line-height: 2rem;
        max-width: 39rem;

        @include min-screen($screen-desktop) {
          line-height: 3rem;
        }
      }

      .banner-cta-description {
        max-width: 39rem;
        margin-bottom: 1.5rem;

        @include min-screen($screen-desktop) {
          margin-bottom: 2rem;
        }
      }
    }

    .media--type-image {
      position: relative;
      width: 100%;
      overflow: hidden;

      .field--name-field-media-image {
        width: 100%;
        height: 100%;
      }

      .field--name-field-copyright {
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem;
        z-index: 2;
        font-size: .75rem;
        font-weight: 400;
        opacity: .7;
        color: $white;
      }

      img {
        width: 100%;
      }

      @include min-screen($screen-tablet) {
        width: calc(30% + 5rem);
        img {
          @include img-cover;
        }
        .field--name-field-media-image {
          position: absolute;
          height: 100%;
        }
      }
      @include min-screen($screen-desktop) {
        width: 41.667vw;
      }
    }

    &.position-full {
      position: relative;
      background-color: transparent;
      .media--type-image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba($darkGrey, .3);
          @include min-screen($screen-desktop) {
            background: linear-gradient(90deg, rgba($darkGrey, .3) 40%, rgba($darkGrey, 0) 85%);
          }
        }
        img {
          @include img-cover;
        }
      }
      .banner-cta-texts {
        position: relative;
        z-index: 2;
        &.border {
          border: .125rem solid $white!important;
          width: calc(100% - 3rem);
          margin: 2rem 1.5rem 6rem;
          padding: 1.5rem;
          @include min-screen($screen-tablet) {
            width: calc(100% - 4rem);
            margin: 2rem;
            padding: 2rem calc(30% + 2rem) 2rem 2rem;
          }
          @include min-screen($screen-desktop) {
            width: 60%;
            margin: 3rem;
            padding: 3.5rem 11.5rem 3.5rem 3.5rem;
          }
        }
      }
    }

    &.position-picto {
      min-height: auto;
      padding: 1.5rem;
      text-align: center;

      @include min-screen($screen-tablet) {
        justify-content: center;
      }

      @include min-screen($screen-desktop) {
        padding: 2.375rem;
      }

      .banner-cta-link {
        display: flex;
        width: 100%;
        text-decoration: none;
        flex-direction: column;
        text-align: left;
        @include min-screen($screen-tablet) {
          max-width: 30rem;
          flex-direction: row;
        }
        @include min-screen($screen-desktop) {
          max-width: 50rem;
        }
      }

      .banner-cta-circle {
        display: inline-block;
        width: 5rem;
        min-width: 5rem;
        height: 5rem;
        min-height: 5rem;
        border-radius: 2.5rem;
        margin-bottom: 1rem;
        text-align: center;
        i {
          color: $white;
          line-height: 5rem;
          font-size: 2rem;
        }

        @include min-screen($screen-tablet) {
          width: 6.75rem;
          min-width: 6.75rem;
          height: 6.75rem;
          min-height: 6.75rem;
          border-radius: 4rem;
          margin-right: 2.5rem;
          i {
            line-height: 6.75rem;
            font-size: 3rem;
          }
        }
      }

      .banner-cta-texts {
        padding: 0;
        width: 100%;

        .banner-cta-description {
          margin-bottom: 0.5rem;

          @include min-screen($screen-desktop) {
            margin-bottom: 0.5rem;
          }
        }

        .banner-cta-title {
          margin: 0;
        }
      }

      &.bg-grey1 {

        .banner-cta-texts {
          color: $darkGrey;
          .banner-cta-title {
            color: $darkGrey;
          }
        }

      }
    }
  }
}
