.paragraph {

  &--type--document {

    .document-wrapper {
      display: flex;
      flex-direction: column;

      @include min-screen($screen-desktop) {
        flex-direction: row;
      }

      .document-infos {
        order: 1;

        @include min-screen($screen-desktop) {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .document-texts {
            max-width: 42rem;
          }
        }

        .field--name-field-title,
        .data-title {
          font-size: 1.5rem;
          line-height: 2rem;
          font-weight: 800;
          margin-bottom: .5rem;

          @include min-screen($screen-tablet) {
            margin-bottom: 1rem;
          }
        }

        .document-infos--subtitle {
          margin-bottom: .5rem;
          @include min-screen($screen-tablet) {
            margin-bottom: 1rem;
          }

          .field {
            display: inline;
            font-size: 1rem;
            font-weight: 400;

            &::after {
              content: '•';
              display: inline-block;
              margin-left: .375rem;
              margin-right: .125rem;
            }

            &:last-child {
              &::after {
                display: none;
              }
            }
          }

          .field--name-field-text-author,
          .field--name-field-text-authors {
            font-weight: 700;
          }

          .field--name-field-text-authors {
            .field__item {
              display: inline-block;

              &::after {
                content: ',';
                display: inline-block;
                margin-right: .125rem;
              }

              &:last-child {
                &::after {
                  display: none;
                }
              }
            }
          }

        }

        .rich-text p {
          font-size: 1rem;
          font-weight: 400;
          margin-bottom: 0;
        }

      }

      .document-image {
        img {
          border-radius: .25rem;
          overflow: hidden;
        }
      }

      .document-actions {
        order: 2;
        margin-top: 1.5rem;
        @include min-screen($screen-desktop) {
          margin-top: 0;
          margin-left: 2rem;
        }

        .btn {
          @include max-screen($screen-tablet - 1px) {
            padding: $btn-padding-y-sm $btn-padding-x-sm;
          }
        }
      }
    }

    ul {
      list-style: none;

      a {
        color: $darkGrey;
        text-decoration: none;
      }
    }
  }

  &--type--documents {

    &:not(.display-big) {

      .field--name-field-documents {
        & > .field__item {
          @extend .border-top;
          padding-bottom: 2rem;
          @include min-screen($screen-desktop) {
            padding-bottom: 3rem;
          }
        }
      }

      .paragraph--type--document {

        .document-wrapper {
          .document-image {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            border-radius: .5rem;
            background-color: $grey1;
            overflow: hidden;
            margin-bottom: 1rem;

            @include min-screen($screen-tablet) {
              width: 13.25rem;
              height: 13.25rem;
              padding-bottom: 0;
              margin-bottom: 1.5rem;
            }

            @include min-screen($screen-desktop) {
              width: 11.375rem;
              min-width: 11.375rem;
              height: 11.375rem;
              margin-right: 2rem;
              margin-bottom: 0;
            }

            .field--name-field-media-image {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 60%;

              img {
                width: 100%;
              }

            }

          }
        }
      }

    }

    &.display-big {

      .field--name-field-documents > .field__item {
        margin-bottom: 1.5rem;
        @include min-screen($screen-tablet) {
          margin-bottom: 2rem;
        }
      }

      .paragraph--type--document {
        padding: 0;

        &::before {
          display: none;
        }

        &:last-child {
          margin-bottom: 0;
        }


        .document-wrapper {
          background-color: $grey1;
          padding: 1.5rem 1.5rem 2rem;
          border-radius: .5rem;
          @include min-screen($screen-tablet) {
            padding: 3rem;
          }
          @include min-screen($screen-desktop) {
            padding: 3.5rem;
            align-items: flex-start;
          }

          .document-infos {
            flex-direction: column;
            @include min-screen($screen-desktop) {
              order: 0;
            }
          }

          .document-image {
            width: auto;
            height: auto;
            margin-bottom: 1.5rem;
            @include min-screen($screen-tablet) {
              margin-bottom: 2rem;
            }
            @include min-screen($screen-desktop) {
              margin-bottom: 0;
              margin-left: 2rem;
            }
          }

          .document-actions {
            @include min-screen($screen-desktop) {
              margin-left: 0;
              margin-top: 2rem;
            }
          }

        }
      }

    }

  }

}

// Only page static

.page-node-type-page {

  .paragraph {

    &--type--document {

      .document-wrapper {
        padding: 1.5rem;
        background-color: $grey1;
        border-radius: .5rem;
        align-items: flex-start;
        @include min-screen($screen-tablet) {
          padding: 2rem;
          .document-infos {
            order: 0;
            flex-direction: column;

            .document-actions {
              margin-left: 0;
              margin-top: 1.5rem;
            }

          }
        }

        .document-infos {
          width: 100%;
        }

        .document-image {
          margin-bottom: 1.5rem;

          img {
            max-width: 6.25rem;
          }

          @include min-screen($screen-tablet) {
            margin-bottom: 0;
          }
        }
      }

    }

  }

}


// only page sequenced

.page-node-type-sequenced-page {

  .paragraph {

    &--type--document {

      .document-wrapper {
        background-color: $grey1;
        padding: 1.5rem 1.5rem 2rem;
        border-radius: .5rem;
        margin-bottom: 2rem;
        @include min-screen($screen-tablet) {
          padding: 2rem 2rem 2.5rem;
          margin-bottom: 3.5rem;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
        }

        .document-infos {
          flex-direction: column;
          @include min-screen($screen-tablet) {
            order: 0;
          }
        }

        .document-actions {
          margin-left: 0;
          margin-top: 1.5rem;

          .btn {
            padding: $btn-padding-y-sm $btn-padding-x-sm;
          }
        }
      }

      .document-image {
        margin-bottom: 1.5rem;
        @include min-screen($screen-tablet) {
          margin-bottom: 0;
          img {
            max-width: 6.25rem;
          }
        }
      }

      .document-actions {
      }
    }

  }
}
