$faq-text: (
  null: 1rem,
  medium: 1.125rem
);

.paragraph {
  &--type--faq {
    @include mb-block;

    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title);
      margin: 0 0 1rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 1.5rem;
      }
    }

    .field--name-field-description {
      @include responsive(font-size, $section-title-small);
      margin: 0 0 2rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 3rem;
      }
    }

    .field--name-field-ref-faqs {
      border-radius: .5rem;
      padding: .5rem 1.5rem;
      @include responsive(font-size, $faq-text);
      @include min-screen($screen-desktop) {
        padding: 1rem 2rem;
      }

      details {
        border: none;
        display: inline-block;
        width: 100%;

        .details-wrapper {
          margin: 1rem 0 0 0;
          padding: 0;

          p:last-child {
            margin-bottom: 0;
          }
        }

        &[open] {
          summary {
            &::after {
              @include icon('expand_less');
            }
          }
        }
      }

      summary {
        position: relative;
        font-weight: 600;
        padding: 0 2rem 0 0;
        outline: 0;

        &:focus {
          outline: 0;
        }

        &::-webkit-details-marker {
          display:none;
        }

        &::after {
          @include icon('expand_more');
          position: absolute;
          right: 0;
          font-size: 1.5rem;
          line-height: 1;
        }
      }
    }
  }
}
