.paragraph {
  &--type--media {
    margin: 0 auto;
    @include responsive(margin-bottom, $space-bottom);

    @include min-screen($screen-desktop) {
      max-width: 38.125rem;
      width: 100vw;
    }

    &.display-big {
      margin: 0 auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      @include responsive(margin-bottom, $space-bottom);

      @include min-screen($screen-desktop) {
        max-width: 64.875rem;
        width: 100vw;
      }
    }

    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title);
      margin: 0 0 1rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 1.5rem;
      }
    }

    .field--name-field-description {
      @include responsive(font-size, $section-title-small);
      margin: 0 0 2rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 3rem;
      }
    }

    .field--name-field {
      &-ref-media {
        margin-bottom: 1rem;
      }

      &-legende,
      &-copyright {
        font-size: 0.875rem;
      }

      &-legende {
        color: $grey5;
      }

      &-copyright {
        color: $grey4;
        .field__item {
          display: inline-block;
        }
      }
    }

    .field--name-field-media-oembed-video {
      position: relative;
      padding-top: 56.26%;
      width: 100%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .slider-nav {
      display: inline-flex;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 66.67%;
      background-color: $white;
      z-index: 1;

      @include min-screen($screen-tablet) {
        left: auto;
        right: 0;
      }

      .count {
        font-size: 0.75;
        margin-right: 0.5rem;
        margin-top: 1rem;
        color: $grey5;
        font-weight: 500;
      }

      .carousel-button {
        font-size: 0;
        margin-top: 1rem;

        &.slick-disabled {
          opacity: 0.5;
        }
      }

      .next {
        margin-left: 0.5rem;
      }
    }

    .wrapper-medias {
      position: relative;
    }

    .slider-medias {
      .field--name-field-media-image,
      img {
        width: 100%;
      }

      .field--name-field-ref-media {
        padding-bottom: 4rem;

        @include min-screen($screen-tablet) {
          padding-bottom: 0;
        }
      }

      .field--name-field-copyright,
      .field--name-field-legende {
        @include min-screen($screen-tablet) {
          padding-right: 12.75rem;
        }

        @include min-screen($screen-desktop) {
          padding-right: 12.2rem;
        }
      }
    }
  }
}
