.paragraph {
  &--type--media {
    max-width: 38.125rem;
    width: 100vw;
    margin: 0 auto;
    @include responsive(margin-bottom, $space-bottom);

    &.display-big {
      max-width: 64.875rem;
      width: 100vw;
      margin: 0 auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      @include responsive(margin-bottom, $space-bottom);
    }

    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title);
      margin: 0 0 1rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 1.5rem;
      }
    }

    .field--name-field-description {
      @include responsive(font-size, $section-title-small);
      margin: 0 0 2rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 3rem;
      }
    }

    .field--name-field {
      &-ref-media {
        margin-bottom: 1rem;
      }

      &-legende,
      &-override {
        font-size: 0.875rem;
      }

      &-legende {
        color: $grey5;
      }

      &-override {
        color: $grey4;
      }
    }
  }
}