.paragraph {
  &--type--people-detail {
    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title);
      margin: 0 0 1rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 1.5rem;
      }
    }

    .field--name-field-description {
      @include responsive(font-size, $section-title-small);
      margin: 0 0 2rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 3rem;
      }
    }

    .field--name-field-social-networks {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -0.25rem;

      >.field__item {
        padding: 0 0.25rem;
      }
    }

    .buttons {
      display: flex;

      .field--name-field-email {
        margin-right: 0.5rem;
      }
    }

    .wrap {
      display: flex;
      margin: 0 -0.75rem 1rem;

      >div {
        padding: 0 0.75rem;
      }
    }

    .field--name-field {
      &-first-name {}
      &-last-name {}
      &-function {}

      &-image {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}