.paragraph {
  &--type--quick-link {
    @include mb-block;

    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title);
      margin: 0 0 1rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 1.5rem;
      }
    }

    .field--name-field-description {
      font-size: .875rem;
      color: $BlueU;
      font-weight: 600;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }

    .field--name-field-links {
      a {
        display: inline-block;
        &:hover {
          text-decoration: none;
          .arrow-primary {
            left: .25rem;
          }
          .link-title {
            color: $BlueU;
          }
        }
      }
    }

    .link-wrapper {
      display: flex;
      align-content: center;
      color: $black;
      margin-bottom: 1rem;
      width: fit-content;
    }

    .arrow-primary {
      position: relative;
      margin-right: 1rem;
      transition: .3s;
      left: 0;
    }

    .link-title {
      font-size: 1.125rem;
    }
  }
}
