.paragraph {
  &--type--quick-link {
    .field--name-field-title {
      font-weight: 800;
      @include responsive(font-size, $section-title);
      margin: 0 0 1rem;

      @include min-screen($screen-desktop) {
        margin: 0 0 1.5rem;
      }
    }

    .field--name-field-description {
      @include responsive(font-size, $section-title-small);
      color: $BlueU;
      font-weight: 600;
      margin: 0 0 1rem;
    }

    .link-wrapper {
      display: inline-block;
      color: $black;
      margin: 0 0 1rem;
    }

    .link-title {
      margin: 0 0 0 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
