// Typography
$quote-text: (
  null: 1.5rem,
  large: 2.25rem
);

$quote-infos: (
  null: 1rem,
  large: 1.1rem
);

$quote-article-text: (
  null: 1.5rem,
  large: 1.75rem
);

.paragraph {
  &--type--quote {
    @extend .border-top;
    display: flex;
    flex-direction: column;

    @include min-screen($screen-desktop) {
      flex-direction: row;
      &.position-right {
        .rich-text {
          order: 1;
        }
      }
    }

    .rich-text {
      @include responsive(font-size, $quote-text);
      font-weight: 400;
      margin-bottom: 1.5rem;
      @include min-screen($screen-desktop) {
        margin-bottom: 0;
      }
    }

    .quote-people {
      display: flex;
      flex-direction: column;

      .quote-shape {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .quote-icon {
          width: 4rem;
          min-width: 4rem;
          height: 4rem;
          margin-right: -.5rem;
          text-align: center;
          border-radius: 2rem;
          &::after {
            @include icon('format_quote');
            line-height: 4rem;
            color: $white;
            font-size: 2rem;
          }
        }

        .field--name-field-image {
          width: 4rem;
          min-width: 4rem;
          height: 4rem;
          border-radius: 2rem;
          overflow: hidden;
          img {
            @include img-cover;
          }
        }
      }

      .name,
      .function {
        @include responsive(font-size, $quote-infos);
        font-weight: 400;
      }

      .name {
        font-weight: 600;
      }
    }

    &.position-center {

      @include min-screen($screen-desktop) {
        position: initial;
        flex-direction: column;
        .rich-text {
          margin-bottom: 1.5rem;
        }
      }
    }

  }
}


// Article page surcharge

.node--type-sequenced-page,
.node--type-page {

  .paragraph {
    &--type--quote {

      .row {
        position: relative;
        flex-direction: column;
        margin: 0;
      }

      padding: 0 0 0 1.75rem;
      @include mb-block;
      &::before {
        position: absolute;
        width: .25rem;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $BlueU;
        border-radius: .125rem;
      }

      .rich-text {
        @include responsive(font-size, $quote-article-text);
        margin-bottom: 1.125rem;
        &::before {
          content: "\201C";
          display: inline;
        }
        &::after {
          content: "\201D";
          display: inline;
        }
      }

      .quote-people {
        flex-direction: row;
        align-items: center;
        margin-left: 0;
        width: 100%;
        max-width: 100%;
        flex: none;
        padding: 0;

        .quote-shape {
          display: none;
          margin-bottom: 0;
          margin-right: 1rem;
          @include min-screen($screen-tablet) {
            display: flex;
          }

          .field--name-field-image {
            width: 3rem;
            min-width: 3rem;
            height: 3rem;
            border-radius: 1.5rem;
          }

          .quote-icon {
            display: none;
          }

        }

        .quote-person-text {
          display: flex;
          flex-direction: column;
        }
      }

      &.position-center {

        .row {
          margin: 1rem 0 3.5rem 0;
        }

      }
    }
  }
}
