// Todo: supprimer les commentaires
//https://www.figma.com/file/kdDeE5Yc4jzRZKYcRRh1i9/UNESCO-Syst%C3%A8me?node-id=1964%3A2138

$list-text: (
  null: 1.125rem,
  medium: 1.25rem
);

.paragraph {

  .field--name-field-title {
    @include responsive(font-size, $section-title);
    font-weight: 800;
  }

  .field__item {

    article.node--type-landing {
      border-top: 1px solid $grey2;
      padding-top: 1.5rem;
      padding-bottom: 2rem;

      @include min-screen($screen-desktop) {
        padding-bottom: 3rem;
      }

      a {
        text-decoration: none;
        color: $darkGrey;
        line-height: 1.4;
        @include responsive(font-size, $list-text);
        font-weight: 600;

        .wrapper {

          .content-type-label {
            @include responsive(font-size, $list-text);
            color: $BlueU;
            font-weight: 400;
          }

          .title {
            @include responsive(font-size, $list-text);
            font-weight: 600;
          }

          .field--name-created {
            display: inline-block;
            margin-top: 1rem;
            font-size: .875rem;
            font-weight: 400;
            color: $grey4;
          }
        }

        .field--name-field-ref-image {

          .media--type-image,
          .field--type-image {
            width: 100%;
            height: 100%;
          }

          img {
            @include img-cover;
          }
        }
      }
    }

  }

  &--type--content-list-custom-landing {
    //base

    &.paragraph--view-mode--grid {
      //view grid 4
    }

    &.paragraph--view-mode--grid-big-first {
      // view first big 3
    }

    &.paragraph--view-mode--normal {

      .field__item {

        article.node--type-landing {
          width: 100%;
          max-width: 51.5rem;

          a {

            .node__content {
              display: flex;
              align-items: start;
            }

            .wrapper {
              width: 100%;
            }

            .field--name-field-ref-image {
              width: 5rem;
              min-width: 5rem;
              height: 5rem;
              margin-left: 1.5rem;

              @include min-screen($screen-tablet) {
                width: 11.5rem;
                min-width: 11.5rem;
                height: 7.5rem;
                margin-left: 2rem;
              }
            }
          }
        }
      }
    }

    &.paragraph--view-mode--short {

    }
  }
}
