.paragraph {

  &--type--text-media-block {
    @extend .border-top;

    .row {
      display: flex;
      flex-direction: column;
    }

    .wrapper-infos {
      order: 1;
    }

    .wrapper-image {
      margin-bottom: 1rem;
      @include min-screen($screen-tablet) {
        margin-bottom: 1.5rem;
      }
      @include min-screen($screen-desktop) {
        margin-bottom: 0;
      }

      img, .field--type-image {
        width: 100%;
      }

      .media--legend,
      .media--copyright,
      .copyright-sigle {
        font-size: .875rem;
        font-weight: 400;
      }

      .media--legend {
        margin-top: .875rem;
        color: $grey5;
      }

      .media--copyright {
        margin-top: .875rem;
        display: inline-block;
        color: $grey4;
      }

      .media--legend + .media--copyright {
        margin-top: 0;
      }

      .copyright-sigle {
        color: $grey4;
        display: inline-block;
        padding-right: 2px;
      }
    }

    @include min-screen($screen-desktop) {

      .row {
        flex-direction: row;
      }

      &.right {
        .row {
          flex-direction: row-reverse;
        }

        .wrapper-image {
          order: 1;
        }

        .wrapper-infos {
          order: 0;
        }
      }

      &.left {
        .wrapper-infos {
          order: 0;
        }

        .wrapper-image {
          order: 1;
        }
      }
    }

    .field--name-field-title {
      @include responsive(font-size, $section-title);
      font-weight: 800;
      margin-bottom: 1rem;
    }

    .field--name-field-links {
      margin-top: 1.5rem;
      @include min-screen($screen-desktop) {
        margin-top: 2rem;
      }
    }

    .field--type-link {

      .field__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: .5rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .field--name-field-media-oembed-video {
      position: relative;
      width: 100%;
      height: 100%;
      padding-bottom: 56.25%; // Ratio 16/9
      & > iframe {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .rich-text {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--type--text-media-full {
    @include container-fluid;
    @include mb-block;

    .field--name-field-slides {
      position: relative;
      width: 100%;
      height: 39rem;

      .slide {
        position: relative;
      }

      .wrapper-infos {
        position: absolute;
        width: 100%;
        max-width: 80.25rem;
        padding: 0 1rem;
        bottom: 6rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;

        .field--name-title {
          @include responsive(font-size, $full-media-title);
          line-height: 2.25rem;
          font-weight: 800;
          color: $white;
          margin-bottom: 1rem;

          @include min-screen($screen-desktop) {
            line-height: 3rem;
          }
        }

        .field--name-field-text {
          color: $white;

          p {
            line-height: 1.375rem;

            &:last-of-type {
              margin-bottom: 0;
            }

            @include min-screen($screen-desktop) {
              line-height: 1.75rem;
            }
          }
        }

        .field--name-field-links {
          margin-top: 2.125rem;

          @include min-screen($screen-desktop) {
            margin-top: 3rem;
          }
        }

        .field--name-title,
        .field--name-field-text {
          max-width: 38.125rem;
        }
      }

      .wrapper-image {
        position: relative;
        height: 100%;

        .field--type-image {
          width: 100%;
          height: 100%;
        }

        picture {
          display: block;
          height: 39rem;
          width: 100%;
        }

        img {
          @include img-cover;
        }

        &::after {
          content: '';
          position: absolute;
          z-index: 1;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.4) 100%);
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }

        .media--copyright {
          position: absolute;
          right: 2.5rem;
          bottom: 1.5rem;
          z-index: 2;
          font-size: .75rem;
          font-weight: 400;
          opacity: .7;
          color: $white;
        }
      }

      .slick-dots {
        position: absolute;
        width: calc(100% - 3rem);
        left: 1.5rem;
        margin: 0;
        padding: 0;
        bottom: 4rem;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        li {
          width: 100%;
          max-width: 5rem;
          margin-right: .5rem;
          opacity: .5;
          transition: .3s;

          &:last-child {
            margin-right: 0;
          }

          &.slick-active {
            opacity: 1;
          }

          button {
            color: transparent;
            font-size: 0;
            width: 100%;
            height: .25rem;
            background-color: $white;
            outline: 0;
            border: 0;
            border-radius: .25rem;
          }
        }
      }
    }


    @include min-screen($screen-desktop) {
      .field--name-field-slides {
        height: 44rem;

        .wrapper-image picture {
          height: 44rem;
        }
      }
    }
  }

  &.display-see-more {
    align-items: start;

    .wrapper-infos {
      .field--name-field-links {
        margin-bottom: 1rem;
      }
    }

    .display_more-wrapper {
      overflow: hidden;
      text-overflow: ellipsis;
      transition: .6s ease;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }

  &.big-text {
    .rich-text {
      p, ul, ol {
        @include responsive(font-size, $big-text);
      }
    }
  }
}
