
.item-content-search {
  border-top: .0625rem solid $grey2;
  padding: 1.5rem 0 2rem;
  @include min-screen($screen-desktop) {
    padding: 1.5rem 0 3rem;
  }

  .link-item-content-search {
    display: flex;
    color: $black;
    &:hover {
      text-decoration: none;
      .wrapper .title {
        color: $BlueU;
      }
    }

    picture {
      margin-left: 1.5rem;
      width: 5rem;
      min-width: 5rem;
      height: 5rem;
      img {
        @include img-cover;
      }

    }

    .wrapper {
      display: flex;
      flex-direction: column;
    }

    .content-type-label {
      @include responsive(font-size, $search-content-title);
      color: $BlueU;
      padding: 0;
      margin: 0;
      background-color: transparent;
    }
    .title {
      @include responsive(font-size, $search-content-title);
      color: $black;
      font-weight: 600;
      transition: .3s;
    }
    .datetime {
      font-size: .875rem;
      color: $grey4;
      margin-top: 1rem;
    }

  }

  &.normal {
    .link-item-content-search {
      flex-direction: row;
      picture {
        margin-left: 2rem;
        width: 11.375rem;
        min-width: 11.375rem;
        height: 7.5rem;
      }
    }
  }

  &.grid {
    .link-item-content-search {
      flex-direction: row-reverse;
      @include min-screen($screen-tablet) {
        flex-direction: column;
      }

      picture {
        @include min-screen($screen-tablet) {
          margin-left: 0;
          margin-bottom: 1.5rem;
          width: 100%;
          height: 12rem;
        }
      }
    }
  }

  &.short {
    padding: 1.5rem 0 2rem;
  }

}
