$audio-icon: (
  null: 2rem,
  large: 2.25rem
);

$audio-icon-size: (
  null: 3rem,
  large: 4rem
);

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: .5;
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.media--type-audio,
.media--type-audio-radio {
  position: relative;
  audio {
    display: none;
  }
  .image-icon {
    position: relative;
    margin-bottom: 1.5rem;
    .field--name-field-media-image {
      margin-bottom: 0 !important;
    }
    .metadata {
      position: absolute;
      top: 1rem;
      left: 1rem;
      color: $BlueU;
      font-size: .875rem;
      z-index: 6;
      font-weight: 600;
      @include min-screen($screen-desktop) {
        top: 1.5rem;
        left: 1.5rem;
      }
    }
  }
  .icons--audio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    cursor: pointer;
    user-select: none;
    i {
      color: $white;
      background-color: $BlueU;
      @include responsive(font-size, $audio-icon);
      @include responsive(width, $audio-icon-size);
      @include responsive(height, $audio-icon-size);
      @include responsive(line-height, $audio-icon-size);
      border-radius: 50%;
      text-align: center;
    }
    .hidden {
      display: none;
    }
  }
  &.audio-playing .icon-animation {
    .delay1 {
      animation: waves 6s ease-in-out;
    }

    .delay2 {
      animation: waves 6s ease-in-out 2s infinite;
    }

    .delay3 {
      animation: waves 6s ease-in-out 4s infinite;
    }

    .delay4 {
      animation: waves 6s ease-in-out 6s infinite;
    }

    .circle {
      display: block;
    }
  }
  .circle {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    @include responsive(width, $audio-icon-size);
    @include responsive(height, $audio-icon-size);
    border-radius: 50%;
    background-color: $white;
    transition: 5s ease;
    z-index: -1;
  }

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.media--type-audio.media--view-mode-medium,
.media--type-audio-radio.media--view-mode-medium {
  .field--name-field-media-image + .field--name-field-media-audio-file {
    display: none;
  }
}
