.banner {
  display: flex;
  background-color: $grey1;
  padding: 1.5rem;
  border-radius: .5rem;
  @include min-screen($screen-desktop) {
    padding: 2rem;
  }
}

.banner-link {
  color: $darkGrey;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $darkGrey;

    .banner-arrow {
      animation: arrow-slide-right .4s both;
    }

  }
}

.banner-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 3rem;

  .banner-text {
    @include min-screen($screen-tablet) {
      width: 100%;
    }
  }

  .banner-image {
    margin-bottom: 1rem;
  }

  @include min-screen($screen-desktop) {
    flex-direction: row;
    .banner-image {
      margin-bottom: 0;
      order: 1;
      padding-left: 3rem;
    }
  }
}

// Colors
$colors: (
  gray: $grey1,
  redLight: $redLight,
  blueLight: $blueLight,
  greenlight: $greenLight,
  orangelight: $orangeLight,
  purpleLight: $purpleLight,
);
@each $colorName, $color in $theme-colors {
  .banner-#{$colorName} {
    background-color: $color;
  }
}
