// Alert

.alert {
  display: flex;
  align-items: center;
}

.custom-alert {
  width: 100%;
  padding: 1.125rem 1.625rem;
  background-color: $grey5;
  color: $white;
  font-size: .875rem;
  font-weight: 600;

  i {
    display: inline-block;
    vertical-align: top;
    margin-right: .625rem;
  }

  @include min-screen($screen-tablet) {
    padding: 1.25rem 2.25rem;
    font-size: 1rem;
    i {
      margin-right: 1.125rem;
    }
  }

  @include min-screen($screen-desktop) {
   padding: 1.25rem 6rem;
  }
}

// Cookies

.cookies {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: $darkGrey;
  font-size: 1rem;
  border-top: .0625rem solid $grey2;
  @extend .container;
  margin: 0 auto;
  @include fullWidthBackground($grey1);

  &::before,
  &:after {
    border-top: .0625rem solid $grey2;
    top: -1px;
  }

  &-actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  @include min-screen($screen-desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;

    &-actions {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
}

// Pre header

$pre-header-text: (
  null: .75rem,
  medium: 1rem
);

$pre-header-close: (
  null: 1.5rem,
  medium: 2rem
);

$pre-header-close-icon: (
  null: .75rem,
  medium: 1rem
);

.pre_header {
  z-index: 999;
  position: relative;
  background-color: $Blue3;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-text {
    @include responsive(font-size, $pre-header-text);
    color: $white;
    font-weight: 600;

    .alert-banner--wrapper {
      display: flex;
      align-items: center;
      &::after {
        @include icon('arrow_forward');
        display: inline-block;
        margin-left: .875rem;
        font-size: 1.5rem;
      }
    }

  }

  .message {
    color: $white;
  }

  &-close {
    display: inline-block;
    background-color: $Blue2;
    @include responsive(width, $pre-header-close);
    @include responsive(min-width, $pre-header-close);
    @include responsive(height, $pre-header-close);
    margin-left: 1rem;
    border-radius: 50%;
    line-height: 0;
    cursor: pointer;

    i {
      position: relative;
      display: inline-block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      @include responsive(font-size, $pre-header-close-icon);
    }
  }
}

// List group flush

.list-group-flush {
  border-top: .0625rem solid $grey2;
  .list-group-item {
    padding: 1rem 0;
  }
}

// Icon

.icon-business {
  display: inline-block;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  line-height: 3rem !important;
  border-radius: 50%;
  background-color: $grey1;
  color: $BlueU;
  text-align: center;
}

// Background custom color

$colors: ( grey: $grey1, orange: $orangeLight, green: $greenLight, blue: $blueLight, purple: $purpleLight, red: $redLight, yellow: $orangeLight );
@each $colorName, $color in $colors {
  .bg-#{$colorName} {
    background-color: $color;
  }
}


li.icon-external > a,
a.icon-external {
  &::after {
    @include icon('open_in_new');
    margin-left: 4px;
  }
}

.bg-none {
  background-color: transparent;
}
