.explore-wrapper {

  #explorer {
    flex-direction: column-reverse;
    @include min-screen($screen-desktop) {
      flex-direction: row;
    }
  }

  .map-list {
    margin-top: 1.5rem;

    @include min-screen($screen-desktop) {
      margin-top: 0;
      max-height: 36rem;
      position: relative;
    }

    .nav-tabs {
      height: 3rem;
      display: flex;
      align-items: flex-start;
      border-bottom: none;

      .nav-item {
        font-size: 1rem;
        margin-right: 2rem;
        padding: 0;
        &:last-child {
          margin-right: 0;
        }
        .nav-link {
          margin: 0;
          padding: 0;
          color: $grey4;
          border: none;
          &:hover {
            border: none;
          }
          &.active {
            background-color: transparent;
            border: none;
            color: $BlueU;
          }
        }
      }

    }

    .tab-content {

      .tab-pane {

        @include min-screen($screen-desktop) {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: calc(100% - 1rem);
            height: 5rem;
            left: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba($white, 0) 0%, $white 100%);
          }
        }

        .tab-pane-list {

          @include min-screen($screen-desktop) {
            position: relative;
            max-height: 29rem;
            overflow-y: auto;
            padding-bottom: 4rem;
            padding-right: 1rem;
            @include scrollbar-custom;
          }
        }
      }
    }
  }

  .explore-map {
    width: 100vw;
    left: -1.5rem;
    height: 16rem;
    z-index: 20;
    @include min-screen($screen-tablet) {
      width: 100%;
      left: 0;
    }
    @include min-screen($screen-desktop) {
      height: 36rem;
    }
  }
}

#explore-map {
  transition: .3s;
  .leaflet-bar {
    @include max-screen($screen-desktop - 1px) {
      display: none;
    }
    border: 0;
    margin: 0 1.5rem 1.5rem 0;
    box-shadow: 0 0 20px 0 rgba(0,0,0, .2);
    border-radius: 1.5rem;
    a {
      height: 40px;
      width: 36px;
      border-bottom: 0;
      color: $grey3;
      &:hover {
        border-bottom: 0;
        color: $grey5;
      }
      &:first-child {
        padding-top: .25rem;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
      }
      &:last-child {
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
      }
    }
  }

  .round-fullscreen {
    position: absolute;
    bottom: 1.5rem;
    right: .5rem;
    z-index: 1000;
    cursor: pointer;
    @include min-screen($screen-desktop) {
      display: none;
    }
  }

  &.fullscreen {
    @include max-screen($screen-desktop - 1px) {
      height: 30rem;
    }
  }
}

.map-wrapper {
  position: relative;
  .map-copyright {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .4);
    width: 100%;
    height: 100%;
    z-index: 20;
    cursor: pointer;
    & > div {
      width: 35rem;
      max-width: 80%;
      margin: 3.5rem auto;
      background-color: $white;
      box-shadow: 0 0 20px 0 rgba(0,0,0, .2);
      border-radius: .5rem;
      padding: 1.5rem;
      max-height: calc(100% - 7rem);
      overflow: auto;
      cursor: auto;
    }
  }
}
