.explore-wrapper {

  #explorer {
    flex-direction: column-reverse;
    @include min-screen($screen-desktop) {
      flex-direction: row;
    }
  }


  .map-list {
    margin-top: 1.5rem;

    @include min-screen($screen-desktop) {
      margin-top: 0;
      max-height: 36rem;
      position: relative;
    }

    .nav-tabs {
      height: 3rem;
      display: flex;
      align-items: flex-start;
      border-bottom: none;

      .nav-item {
        font-size: 1rem;
        margin-right: 2rem;
        padding: 0;
        &:last-child {
          margin-right: 0;
        }
        .nav-link {
          margin: 0;
          padding: 0;
          color: $grey4;
          border: none;
          &:hover {
            border: none;
          }
          &.active {
            background-color: transparent;
            border: none;
            color: $BlueU;
          }
        }
      }

    }

    .tab-content {

      select {
        @extend .custom-select;
        width: auto;
        height: calc(1.4em + 1rem + 2px);
        padding: .5rem 2.5rem .5rem 1rem;
        margin-bottom: 1.5rem;
      }

      .tab-pane {

        @include min-screen($screen-desktop) {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: calc(100% - 1rem);
            height: 5rem;
            left: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba($white, 0) 0%, $white 100%);
          }
        }

        .tab-pane-list {

          @include min-screen($screen-desktop) {
            position: relative;
            max-height: 29rem;
            overflow-y: auto;
            padding-bottom: 4rem;
            padding-right: 1rem;
            @include scrollbar-custom;
          }
        }
      }


      .tab-pane .tab-pane-list > article {
        padding: 1.5rem 0 2rem;
        border-top: .0625rem solid $grey2;

        &.is-hide {
          display: none;
        }
      }
    }
  }

  .explore-map {
    width: 100vw;
    left: -1.5rem;
    height: 14.375rem;
    z-index: 20;
    @include min-screen($screen-tablet) {
      width: 100%;
      left: 0;
    }
    @include min-screen($screen-desktop) {
      height: 36rem;
    }
  }
}
