header.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  padding: 0 1.5rem;
  transition: .3s ease;
  @include min-screen($screen-tablet) {
    padding: 0 2.125rem;
  }
  @include min-screen($screen-desktop) {
    position: absolute;
    padding: 0 3.5rem;
  }

  &:hover {
    background-color: $BlueU;
  }

  &.bg-primary {
    .navbar {
      &_burger {
        background-color: $Blue2;
      }
    }
  }

  &.is-border {
    .navbar {
      border-bottom: .0625rem solid $white;
    }
  }

  &.is-active {
    background-color: $BlueU;
  }

  .navbar {
    position: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 83rem;
    margin: 0 auto;
    padding: 1rem 0;
    @include min-screen($screen-tablet) {
      padding: 1.5rem 0;
    }
    @include min-screen($screen-desktop) {
      align-items: flex-start;
      padding: 2rem 0 1.5rem;
    }

    &_logo {
      img {
        width: 100%;
        max-width: 9.375rem;
        @include min-screen($screen-tablet) {
          min-width: 16.25rem;
          max-width: 16.25rem;
        }
      }
    }

    &_baseline {
      display: block;
      margin-top: .5rem;
      font-size: .875rem;
      color: $white;
      font-weight: 800;
      &:hover {
        text-decoration: none;
      }
      @include min-screen($screen-desktop) {
        margin-top: 1rem;
        font-size: 1.125rem;
      }
    }

    &_burger {
      position: absolute;
      z-index: 90;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      top: .75rem;
      right: 1.5rem;
      background-color: $BlueU;
      border-radius: 50%;
      cursor: pointer;
      @include min-screen($screen-tablet) {
        top: 2rem;
        right: 2.125rem;
      }
      @include min-screen($screen-desktop) {
        display: none;
      }
      span {
        display: block;
        position: absolute;
        width: 1rem;
        left: .75rem;
        border-top: 2px solid $white;
        transform-origin: 50% 50%;
        transition: transform .4s ease-out;

        &:nth-child(1) {
          top: .875rem;
        }

        &:nth-child(2) {
          top: 1.25rem;
          opacity: 1;
          transition: transform .4s ease-out, opacity 0ms linear .2s;
        }

        &:nth-child(3) {
          top: 1.625rem;
        }
      }
    }

    &_wrapper {
      flex-direction: column;
      padding: 2rem 1.5rem;
      @include min-screen($screen-tablet) {
        padding: 2rem 2.125rem;
      }
      @include max-screen($screen-desktop - 1) {
        background: $BlueU;
        display: none;
        width: 100vw;
        left: 0;
        position: absolute;
      }
      @include min-screen($screen-desktop) {
        padding: 0;
        display: flex!important;
        align-items: flex-end;
      }
    }

    &_top {
      display: flex;
      flex-direction: column;
      order: 1;
      padding: 0;
      margin: 1.5rem 0 0 0;
      @include min-screen($screen-desktop) {
        margin: 0 -1rem .75rem;
        flex-direction: row;
        order: 0;
        align-items: center;
        justify-content: flex-end;
      }
      li {
        list-style: none;
        @include min-screen($screen-desktop) {
          margin: 0 1rem;
        }
        a {
          display: inline-block;
          color: $white;
          font-size: 1rem;
          padding: .5rem 0;
          @include min-screen($screen-desktop) {
            padding: 0;
            font-size: .875rem;
          }
        }
        .button-galaxy {
          font-size: 1rem;
          padding: .5rem 2rem .5rem 0;
          @include min-screen($screen-desktop) {
            padding: 0 2rem 0 0;
            font-size: .875rem;
          }
        }
      }
    }

    &_nav {
      display: flex;
      align-items: flex-start;
      order: 0;
      flex-direction: column;
      @include min-screen($screen-desktop) {
        order: 1;
        flex-direction: row;
        align-items: center;
      }
    }

    &_menu {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      order: 1;
      padding: 0;
      margin: -.75rem 0;
      @include min-screen($screen-desktop) {
        flex-direction: row;
        align-items: center;
        order: 0;
        margin: 0;
        width: 100%;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-behavior: initial;
      }
      &::-webkit-scrollbar {
        @include min-screen($screen-desktop) {
          display: none;
        }
      }
      & > li {
        list-style: none;
        &.submenu-active {
          .navbar_submenu {
            left: 0;
          }
        }
        @include min-screen($screen-desktop) {
          margin: 0;
          padding: 0  1.125rem;
        }
        & > a {
          position: relative;
          display: flex;
          align-items: center;
          white-space: nowrap;
          color: white;
          font-size: 1.5rem;
          padding: 0.75rem 0;
          &:hover {
            text-decoration: none;
          }
          @include min-screen($screen-desktop) {
            &::before {
              content: '';
              position: absolute;
              bottom: .5rem;
              right: 0;
              width: 0;
              height: 1px;
              background-color: $white;
              transition: .3s ease-in-out;
            }

            &:hover {
              &::before {
                width: 100%;
                left: 0;
              }
            }
            font-size: 1.125rem;
          }

          &.is-expanded {
            &::after {
              @include icon('chevron_right');
              line-height: 1;
              margin-left: 1rem;
            }
            @include min-screen($screen-desktop) {
              &::after {
                margin-left: .5rem;
                @include icon('expand_more');
              }
              &::before {
                right: 1.5rem;
              }
              &:hover {
                &::before {
                  width: calc(100% - 1.5rem);
                }
              }
              &.submenu-active {
                &::after {
                  transform: rotate(-180deg);
                }
                &::before {
                  width: calc(100% - 1.5rem);
                }
              }
            }
          }
        }
      }
    }

    &_submenu {
      position: fixed;
      z-index: 80;
      width: 100vw;
      margin: 0;
      padding: 0;
      background-color: $BlueU;
      @include max-screen($screen-desktop - 1) {
        top: 0;
        left: 100vw;
        height: 100vh;
        transition: .3s ease-in-out;
      }
      @include min-screen($screen-desktop) {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
      }
    }

    &_actions {
      display: none;
      order: 0;
      margin: 0 -1.125rem 0 0;
      @include min-screen($screen-desktop) {
        display: flex;
        order: 1;
      }
      a, button {
        color: white;
        margin: 0 1.125rem;
        &:hover {
          text-decoration: none;
        }
      }
    }

    &.active {
      .navbar_burger {
        span {

          &:nth-child(1) {
            animation: burger-open-top .4s ease-out forwards;
          }

          &:nth-child(2) {
            opacity: 0;
            transition: transform .4s ease-out, opacity 0ms linear .2s;
          }

          &:nth-child(3) {
            animation: burger-open-bot .4s ease-out forwards;
          }
        }
      }
    }

    &.closing {
      .navbar_burger {
        span {
          &:nth-child(1) {
            animation: burger-close-top .4s ease-out forwards;
          }

          &:nth-child(3) {
            animation: burger-close-bot .4s ease-out forwards;
          }
        }
      }
    }

    li {
      list-style: none;
    }

    &_sticky {
      display: none;
      @include min-screen($screen-desktop) {
        display: block;
        position: fixed;
        width: 100%;
        top: -6rem;
        left: 0;
        padding: 0 3.5rem;
        background-color: $BlueU;
        transition: .4s ease-in-out;
        &.is-sticky {
          top: 0;
        }
        &.bg-white {
          color: $BlueU;
          .navbar_baseline,
          .navbar_sticky-content,
          .navbar_sticky-content a {
            color: $BlueU;
          }
        }
      }
      .navbar_logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          max-height: 2rem;
        }
        .navbar_baseline {
          font-size: .875rem;
          white-space: nowrap;
          margin-top: 0;
          margin-left: 1rem;
        }
      }
      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 83rem;
        margin: 0 auto;
        padding: .75rem 0;
      }
    }
  }

  .submenu {
    &-header {
      display: flex;
      align-items: center;
      width: calc(100% - 3rem);
      margin: 1.25rem 1.5rem 0;
      padding: 0 4rem 1rem 0;
      border-bottom: .0625rem solid $white;
      color: $white;
      @include min-screen($screen-tablet) {
        margin: 2.5rem 1.5rem 0;
        padding: 0 4rem 2rem 0;
      }
      @include min-screen($screen-desktop) {
        display: none;
      }
    }
    &-back {
      width: 4rem;
      font-size: 2rem;
      cursor: pointer;
      line-height: .9;
    }
    &-title {
      font-size: 1.125rem;
      font-weight: 500;
      text-align: center;
      width: 100%;
    }
    &_wrapper {
      padding: 2rem 1.5rem;
      @include max-screen($screen-desktop - 1) {
        max-height: calc(100% - 4rem);
        overflow: auto;
      }
      @include min-screen($screen-desktop) {
        width: 100%;
        max-width: 88rem;
        margin: 0 auto;
      }
    }

    &_list {
      font-size: 1rem;
      color: $white;
      margin: -.75rem 0 0 0;
      &-title {
        padding: .75rem 0;
        font-weight: 600;
      }
      ul {
        margin: 0;
        padding: 0;
      }
      a {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: .75rem 0;
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
    &_card {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      margin: 0 -.5rem -1rem;
      padding: 0;
      @include min-screen($screen-tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(100% + 1rem);
      }
      @include min-screen($screen-desktop) {
        margin: 0 -.75rem -1.5rem;
        width: calc(100% + 1.5rem);
      }

      li {
        width: 100%;
        margin-bottom: 1rem;
        transition: all .3s ease-in-out;
        @include min-screen($screen-tablet) {
          padding: 0 .5rem;
          max-width: 50%;
        }
        @include min-screen($screen-desktop) {
          padding: 0 .75rem;
          max-width: 25%;
          margin-bottom: 1.5rem;
        }

        &:focus,
        &:hover {
          transform: scale(1.1);
        }

        @include max-screen($screen-tablet - 1) {
          a {
            max-height: 9rem;
          }

          img {
            @include img-cover();
            object-position: center;
          }
        }

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          z-index: 1;
          padding: 0 .5rem;
          font-size: 1.125rem;
          font-weight: 600;
          color: $white;
        }
      }
    }
    &_carousel {
      .slick-slider {
        overflow: hidden;
        .slick-list {
          padding-right: 10% !important;
          margin: 0 0 0 -1rem;
        }
        .slick-arrow {
          font-size: 0;
          display: inline-block;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          border: none;
          background-color: $grey1;
          text-align: center;
          position: absolute;
          top: 32%;
          right: 1rem;
          z-index: 3;

          &::after {
            @include icon('chevron_right');
            font-size: 1.2rem;
            color: $grey4;
          }

          &:hover {
            &::after {
              color: $darkGrey;
            }
          }

          &:focus {
            border: 2px solid $LightBlue;
            outline: none;

            &::after {
              color: $grey4;
            }
          }

          &:active {
            border: none;
            outline: none;

            &::after {
              color: $grey3;
            }
          }

          &.slick-disabled {
            display: none !important;
          }

          &.slick-prev {
            right: auto;
            left: 1rem;

            &::after {
              content: "chevron_left";
            }
          }
        }
      }
      ul {
        padding: 0;
        li {
          margin: 0 1rem;
          a {
            text-decoration: none;
            color: $white;
            font-size: 1.125rem;
            font-weight: 600;
          }
        }
      }
      &-img {
        margin-bottom: 1rem;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  .slider {
    &_back,
    &_next {
      display: none;
      @include min-screen($screen-desktop) {
        display: block;
        margin: 0 .5rem;
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        color: $white;
        border: .0625rem solid $white;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    &_back {
      &::after {
        @include icon('chevron_left');
      }
    }
    &_next {
      &::after {
        @include icon('chevron_right');
      }
    }
  }
}

main {
  transition: .3s ease;
}

.option-theming {
  display: none;
  @include min-screen($screen-desktop) {
    display: block;
  }
  position: fixed;
  z-index: 99;
  right: 2rem;
  bottom: 8rem;
  background-color: $white;
  padding: .5rem;
  border-radius: .5rem;
  box-shadow: 0 0 1.5rem 0 rgba(0,0,0, .2);

  .custom-checkbox {
    margin: .5rem;
  }
}
