header.header {
  position: fixed;
  width: 100%;
  z-index: 90;
  padding: 0 1.5rem;
  @include min-screen($screen-tablet) {
    padding: 0 2.125rem;
  }
  @include min-screen($screen-desktop) {
    position: absolute;
    padding: 0 3.5rem;
  }

  &.is-blue {
    background-color: $BlueU;
    .navbar {
      &_burger {
        background-color: $Blue2;
      }
    }
  }

  &.is-border {
    .navbar {
      border-bottom: .0625rem solid $white;
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 83rem;
    margin: 0 auto;
    padding: 1rem 0;
    @include min-screen($screen-tablet) {
      padding: 1.5rem 0;
    }
    @include min-screen($screen-desktop) {
      padding: 2rem 0;
    }

    &_logo {
      img {
        width: 100%;
        max-width: 9.375rem;
        @include min-screen($screen-tablet) {
          max-width: 16.25rem;
        }
      }
    }

    &_baseline {
      display: block;
      margin-top: .5rem;
      font-size: .875rem;
      color: $white;
      font-weight: 800;
      &:hover {
        text-decoration: none;
      }
      @include min-screen($screen-desktop) {
        margin-top: 1rem;
        font-size: 1.125rem;
      }
    }

    &_burger {
      position: relative;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      background-color: $BlueU;
      border-radius: 50%;
      cursor: pointer;
      @include min-screen($screen-desktop) {
        display: none;
      }
      span {
        display: block;
        position: absolute;
        width: 1rem;
        left: .75rem;
        border-top: 2px solid $white;
        transform-origin: 50% 50%;
        transition: transform .4s ease-out;

        &:nth-child(1) {
          top: .875rem;
        }

        &:nth-child(2) {
          top: 1.25rem;
          opacity: 1;
          transition: transform .4s ease-out, opacity 0ms linear .2s;
        }

        &:nth-child(3) {
          top: 1.625rem;
        }

        .active & {
          background-color: red;

          &:nth-child(1) {
            animation: burger-open-top .4s ease-out forwards;
          }

          &:nth-child(2) {
            opacity: 0;
            transition: transform .4s ease-out, opacity 0ms linear .2s;
          }

          &:nth-child(3) {
            animation: burger-open-bot .4s ease-out forwards;
          }
        }
      }
    }

    &_wrapper {
      @include max-screen($screen-desktop - 1) {
        display: none;
        width: 100%;
      }
    }

    &_top {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0 -1rem .75rem;
      li {
        list-style: none;
        margin: 0 1rem;
        a {
          color: $white;
          font-size: 1rem;
          @include min-screen($screen-desktop) {
            font-size: .875rem;
          }
        }
      }
    }

    &_nav {
      display: flex;
      align-items: center;
    }

    &_menu {
      display: flex;
      align-items: center;
      margin: 0 -1.125rem;
      padding: 0;
      li {
        list-style: none;
        margin: 0 1.125rem;
        a {
          color: white;
          font-size: 1.125rem;
        }
      }
    }

    &_submenu {
      display: none;
    }

    &_actions {
      display: flex;
      margin: 0 -1.125rem 0 0;
      a, button {
        color: white;
        margin: 0 1.125rem;
        &:hover {
          text-decoration: none;
        }
      }
    }

  }
}


@keyframes burger-open-top {
  50% {
    transform: translate3d(0, 6px, 0);
  }
  100% {
    transform: translate3d(0, 6px, 0) rotate(45deg);
  }
}

@keyframes burger-open-bot {
  50% {
    transform: translate3d(0, -6px, 0);
  }
  100% {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
  }
}
