.header-background,
.header-hub {
  position: relative;
  margin: -6.75rem auto 2.5rem;
  @include min-screen($screen-desktop) {
    margin: 0 auto;
  }

  .header-wrapper,
  .hero-wrapper {
    min-height: 14.5rem;
    @include fullWidthBackground($BlueU);

    @include min-screen($screen-desktop) {
      min-height: 28.25rem;
    }

    &::before,
    &::after {
      z-index: -1;
    }

    .field--name-field-ref-image {
      overflow: hidden;

      .field--name-field-media-image {
        width: 100%;

        img {
          @include img-cover;
          position: absolute;
          width: 100vw;
          left: 50%;
          transform: translateX(-50%);
          z-index: 0;
        }
      }

      .field--name-field-copyright {
        display: none;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 0;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, .25);
      }
    }

    .header-texts {
      position: relative;
      padding-top: 7.5rem;
      z-index: 2;

      @include min-screen($screen-desktop) {
        padding-top: 12.5rem;
        padding-bottom: 5rem;
      }

      .title,
      .field--name-field-description {
        color: $white;
      }

      .title {
        @include responsive(font-size, $hero-title);
        font-weight: 800;
        margin-bottom: 1rem;
      }

      .field--name-field-description {
        display: none;
        @include min-screen($screen-desktop) {
          display: block;
          font-size: 1.25rem;
        }
      }
    }

    .hub-menu-btn {
      display: flex;
      align-items: center;
      &::after {
        @include icon('expand_more');
        margin-left: 0.625rem;
        line-height: 1;
        transition: .3s;
      }
      &.is-active {
        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }

  .header-wrapper {
    @include min-screen($screen-desktop) {
      height: 14.5rem;
    }

    .header-texts {
      padding-top: 5rem;
    }
  }

  .hub-menu-header {
    padding: 1.5rem 0;
    display: none;
    @include max-screen($screen-tablet - 1px) {
      position: absolute;
      z-index: 90;
      width: 100vw;
      background-color: $grey1;
      left: -1.5rem;
      padding: 1.5rem;
    }
    @include min-screen($screen-tablet) {
      position: relative;
      padding: 0;
      display: block;
      @include fullWidthBackground($grey1);
    }
    &:empty {
      display: none;
    }

    .menu {
      display: flex;
      flex-direction: column;
      margin: 0;

      @include min-screen($screen-tablet) {
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
      }

      li {
        white-space: nowrap;
        margin: .5rem 0;
        padding: 0;
        font-size: 1rem;
        font-weight: 600;
        color: $darkGrey;

        a,
        span {
          padding: .5rem 0;
        }

        a {
          position: relative;
          display: block;
          color: $darkGrey;

          &:hover {
            text-decoration: none;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        &.menu-item {
          list-style: none;

          &--expanded {
            &::marker {
              display: none;
            }

            ul.menu-lvl2 {
              margin: .5rem 0 .5rem 1.5rem;
              width: 100%;
              @include min-screen($screen-tablet) {
                margin: 0;
                align-items: flex-start;
                flex-wrap: wrap;
              }
              @include min-screen($screen-desktop) {
                width: calc(75% + 2rem);
              }

              & > .menu-item {
                @include min-screen($screen-tablet) {
                  width: calc(33.33% - 2rem);
                  margin: 0 2rem 2rem 0;
                  a {
                    padding: 0;
                    margin-bottom: .75rem;
                    white-space: normal;
                  }
                }
              }

              .menu-item--expanded {
                a::after {
                  display: none;
                }
              }

              & > li > *:first-child {
                font-weight: 600;
                display: block;
              }

              ul.menu-lvl3 {
                margin: 0;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: flex-start;

                li {
                  font-weight: 400;
                  margin: 0;

                  a,
                  span {
                    padding: .75rem 0;
                    white-space: normal;
                    margin-bottom: 0;
                  }
                }
              }

            }
          }

          .lvl1-infos {
            display: none;

            .hub-header-lvl1-text {
              margin-top: 1.5rem;
              font-size: 1.25rem;
              font-weight: 600;
            }

            @include min-screen($screen-desktop) {
              display: block;
              width: calc(25% - 2rem);
              white-space: normal;
            }
          }

        }

        @include min-screen($screen-tablet) {
          margin: 0 1rem 0 0;

          a,
          span {
            padding: 1.25rem 0;
          }
        }

        @include min-screen($screen-desktop) {
          margin: 0 2rem 0 0;
        }
      }

      .lvl1-wrapper {
        flex-direction: column;
        width: 100%;
        max-width: 100vw;
        left: 0;
        z-index: 90;

        @include min-screen($screen-tablet) {
          display: none;
          position: absolute;
          background-color: $white;
          flex-direction: row;
          align-items: stretch;
          padding: 3rem 0 0;
          top: 4rem;
          opacity: 0;

          &.is-visible {
            animation: fadeIn .3s ease forwards;
          }

          &::before {
            content: '';
            position: absolute;
            width: 100vw;
            height: 100%;
            background-color: $white;
            left: 50%;
            transform: translateX(-50%);
            border-bottom: .0625rem solid $grey2;
          }
        }

        .menu-lvl2,
        .lvl1-infos {
          position: relative;
        }
      }

      &-lvl1 {

        @include min-screen($screen-tablet) {
          overflow-x: auto;
        }

        li.menu-item--expanded > {

          a {
            position: relative;

            &::after {
              @include icon('expand_more');
              display: inline-block;
              font-size: 1.25rem;
              vertical-align: middle;
              line-height: 1;
              margin-left: 1rem;
              @include min-screen($screen-tablet) {
                color: $grey3;
              }
            }

            &.active-item {
              @include min-screen($screen-tablet) {
                &::before {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: .125rem;
                  background-color: $BlueU;
                }
              }
              &::after {
                transform: rotate(180deg);
              }
            }
          }
        }

      }
    }
  }
}

#block-unesco-content {
  .header-background {
    margin: 0 auto;
  }

  .our-countries {
    .map-wrapper {
      margin-bottom: 4.2rem;
    }

    .electoral-group-list {
      margin: 0;
      padding-bottom: 1rem;
      display: inline-block;
      min-width: 12rem;
    }

    ul.sort {
      display: inline-block;
      li {
        display: inline-block;

        &:first-child {
          margin: 0;
        }
      }
    }

    .node--type-country.node--view-mode-map {
      .node__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div {
          flex: auto;
          flex-direction: row;
        }
      }
    }
  }
}