$xs : 1rem;
$sm : 1.5rem;
$default : 2rem;
$md : 2.5rem;
$lg : 3rem;
$xl : 4.5rem;
$xxl : 7.5rem;
$fontSizeFactor: .65;

.round {
  display: inline-block;
  width: $default;
  height: $default;
  min-width: $default;
  font-size: $default*$fontSizeFactor;
  vertical-align: middle;
  border-radius: 50%;
  background-color: $BlueU;
  color: $white;
  text-decoration: none;
  text-align: center;
  transition: $btn-transition;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 0 .125rem $LightBlue;
    outline: none;
  }
  &.material-icons-sharp {
     line-height: 1.55em;
  }
}

$sizes: ( xs: $xs, sm: $sm, md: $md, lg: $lg, xl: $xl, xxl: $xxl );

@each $sizeType, $size in $sizes {
  .round-#{$sizeType} {
    width: $size;
    height: $size;
    min-width: $size;
    font-size: $size*$fontSizeFactor;
  }
}

.round-cta {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  i {
    font-size: 2.25rem;
  }
  @include min-screen($screen-desktop) {
    width: 6.75rem;
    height: 6.75rem;
    line-height: 6.75rem;
    i {
      font-size: 3rem;
    }
  }
}

//Background color / Text color / Background color in hover state / Text color in hover state / Text color in pressed state / Text color in focused state

$colors:
    (primary, $BlueU, $white, $Blue2, $white, $white, $white),
    (secondary, $Blue2, $white, $Blue3, $white, $white, $white),
    (gray, $grey1, $grey4, $grey2, $darkGrey, $grey4, $grey5),
    (gray1, $grey1, $grey4, $grey2, $darkGrey, $grey4, $grey5),
    (gray2, $grey2, $grey4, $grey3, $darkGrey, $grey5, $grey5),
    (gray3, $grey3, $grey2, $grey5, $white, $grey3, $white),
    (gray4, $grey4, $grey2, $grey5, $white, $grey3, $white),
    (gray5, $grey5, $grey2, $grey3, $white, $grey2, $white),
    (white, $white, $grey4, $white, $darkGrey, $grey3, $grey4);

@each $colorName, $bgColor, $textColor, $bgColorHover, $textHover, $textPressed, $textFocused in $colors {
  .round-#{$colorName} {
    background-color: $bgColor;
    color: $textColor;
    &:hover {
      background-color: $bgColorHover;
      color: $textHover;
    }
    &:focus {
      color: $textFocused;
    }
    &:active {
      &:hover {
        background-color: $bgColor;
        color: $textPressed;
      }
    }
  }
}
