
.sdh-filters-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 1.5rem 0;

  @include min-screen($screen-desktop) {
    flex-direction: row;
    align-content: center;
    padding: 2rem 0 3rem;
    width: auto;
  }

  label.facet-dataset_filters {
    padding: 0.375rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .map-count-mobile {
    font-size: .875rem;
    margin-top: 1.5rem;

    @include min-screen($screen-desktop) {
      display: block;
      width: 100%;
      margin-top: 2rem;
    }
  }

  .sdh-filters-links {
    margin-top: 1.5rem;
    order: 3;
    
    @include min-screen($screen-desktop) {
      margin-top: 0;
      margin-left: auto;
      order: unset;
    }

    a {
      margin-right: 1rem;
      @include min-screen($screen-desktop) {
        margin-right: .5rem;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        background-color: $grey4;
        i {
          color: $white;
        }
      }
    }
  }
}

.list {
  .sdh-filters-wrapper {
    .sdh-filters-links {
      @include min-screen($screen-desktop) {
        width: 50%;
        display: flex;
        justify-content: flex-end;
      }
    }
  
    .map-count-mobile {
      width: 100%;
      max-width: 51.5rem;
      margin: 2rem auto 0;
    }
  }
}

.map {
  position: relative;

  .map-count-mobile {
    @include min-screen($screen-desktop) {
      display: none;
    }
  }

  #explorer .map-wrapper {
    @include max-screen($screen-tablet - 1) {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);

      .explore-map {
        left: 0;
      }
    }
  }

  .sdh-filters-wrapper {
    @include max-screen($screen-tablet - 1) {
      position: absolute;
      top: 16rem;
      left: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      padding: 1.5rem 0;
      z-index: 9;

      .block-facet-blockdataset-filters {
        width: 100%;

        >div {
          display: inline-block;
        }
      }

      .sdh-filters-links {
        order: 3;
        margin-left: auto;
      }
    }
  }
}

.sdh-grid,
.sdh-list {
  .results-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 51.5rem;
    width: 100%;
    margin: 0 auto;

    .item-content-search {
      width: 100%;
    }

    .field--name-field-media-image {
      width: 100%;
    }
  }

  .results-sort-wrapper {
    display: none;

    @include min-screen($screen-desktop) {
      display: block;
    }
  }
}

.sdh-map {
  position: relative;

  &-map {
    display: flex;
    flex-direction: column;
    position: relative;

    @include min-screen($screen-desktop) {
      flex-direction: row;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
    }
  }

  .map-count {
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding: 1.5rem 0;

    &-desktop {
      display: none;
    }

    @include min-screen($screen-desktop) {
      &-desktop {
        display: block;
      }
    }
  }
  .map-list {
    @include max-screen($screen-tablet - 1) {
      padding-top: 8.5rem;
    }
  }
}

.sdh-list {
  .item-content-search {
    padding: 1.5rem 0 0;
    margin-bottom: 2.25rem;
    width: 100%;

    @include min-screen($screen-desktop) {
      margin-bottom: 3rem;
    }
  }
}

.sdh-grid {
  .results-sort-wrapper {
    max-width: 100%;
  }

  .results-wrapper {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include min-screen($screen-desktop) {
      margin: 0 -1rem;
    }

    .item-content-search {
      margin: 0 0 2rem;

      @include min-screen($screen-desktop) {
        margin: 0 1rem 5rem;
        max-width: calc(25% - 2rem);
      }
    }
  }

  .node--view-mode-sdh-list .node__content {
    @include min-screen($screen-desktop) {
      flex-direction: column;

      .field--name-field-ref-image {
        order: -1;
        margin: 0 0 1.5rem;
        width: 18.063rem;
        height: 12rem;
      }
    }
    
  }
}