.sdh-filters-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  padding: 1.5rem 0;

  @include min-screen($screen-desktop) {
    padding: 2rem 0;
  }

  .button-filter {
    align-self: center;
    justify-self: start;
  }

  .map-count-mobile {
    grid-row-start: 2;
    font-size: .875rem;
    place-self: center self-start;

    @include min-screen($screen-desktop) {
      display: none;
    }
  }

  .sdh-filters-links {
    grid-column-start: 2;
    grid-row-start: 2;
    place-self: center self-end;

    @include min-screen($screen-desktop) {
      grid-row-start: 1;
    }

    a {
      margin-right: 1rem;
      @include min-screen($screen-desktop) {
        margin-right: .5rem;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.sdh-list,
.sdh-map {
  margin-top: -2rem;

  @include min-screen($screen-desktop) {
    margin-top: -5.5rem;
  }
}

.sdh-map {
  position: relative;

  .sdh-filters-header .sdh-filters-links .map {
    background-color: $grey4;
    i {
      color: $white;
    }
  }

  &-map {
    display: flex;
    flex-direction: column;
    position: relative;

    @include min-screen($screen-desktop) {
      flex-direction: row;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
    }
  }

  .map-count {
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding: 1.5rem 0;

    &.map-count-desktop {
      display: none;

      @include min-screen($screen-desktop) {
        display: block;
      }
    }
  }
}

.sdh-list {
  .view-content .views-row {
    padding: 1.5rem 0 0;
    margin-bottom: 2.25rem;

    @include min-screen($screen-desktop) {
      margin-bottom: 3rem;
    }

    >article {
      width: 100%;
    }
  }
}

.sdh-grid {
  .view-content {
    max-width: 100%;

    @include min-screen($screen-desktop) {
      margin: 0 -1rem;
    }

    .views-row {
      margin: 0 0 2rem;

      @include min-screen($screen-desktop) {
        margin: 0 1rem 5rem;
        max-width: calc(25% - 2rem);
      }
    }
  }
}
