.js-slider-full {
  position: relative;
  width: 100%;
  height: 39rem;
  @include min-screen($screen-desktop) {
    height: 44rem;
  }

  .slick-track,
  .slick-list,
  .slide {
    height: 100%;
    position: relative;
  }

  .wrapper-infos {
    position: absolute;
    width: 100%;
    max-width: 80.25rem;
    padding: 0 1rem;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    .field--name-title,
    .slide-title {
      @include responsive(font-size, $full-media-title);
      line-height: 2.25rem;
      font-weight: 800;
      color: $white;
      margin-bottom: 1rem;

      @include min-screen($screen-desktop) {
        line-height: 3rem;
      }
    }

    .field--name-field-text,
    .slide-text{
      color: $white;

      p {
        line-height: 1.375rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        @include min-screen($screen-desktop) {
          line-height: 1.75rem;
        }
      }
    }

    .field--name-field-links,
    .slide-links{
      display: flex;
      flex-wrap: wrap;
      margin: 2rem -.25rem 0;

      .field__item, .slide-link {
        margin: .25rem;
      }

      @include min-screen($screen-desktop) {
        margin: 3rem -.25rem 0;
      }
    }

    .field--name-title,
    .field--name-field-text,
    .slide-title,
    .slide-text {
      max-width: 38.125rem;
    }
  }

  .wrapper-image {
    position: relative;
    height: 100%;

    img {
      @include img-cover;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.4) 100%);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .media--copyright {
      position: absolute;
      right: 2.5rem;
      bottom: 1.5rem;
      z-index: 2;
      font-size: .75rem;
      font-weight: 400;
      opacity: .7;
      color: $white;
    }
  }

  .slick-dots {
    position: absolute;
    width: calc(100% - 3rem);
    left: 1.5rem;
    margin: 0;
    padding: 0;
    bottom: 4rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    li {
      width: 100%;
      max-width: 5rem;
      margin-right: .5rem;
      opacity: .5;
      transition: .3s;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        opacity: 1;
      }

      button {
        color: transparent;
        font-size: 0;
        width: 100%;
        height: .25rem;
        background-color: $white;
        outline: 0;
        border: 0;
        border-radius: .25rem;
      }
    }
  }
}
