.js-slider-full {
  position: relative;
  width: 100%;
  height: 39rem;
  @include min-screen($screen-desktop) {
    height: 44rem;
  }

  .slick-track,
  .slick-list,
  .slide {
    height: 100%;
    position: relative;
  }

  .wrapper-infos {
    position: absolute;
    width: 100%;
    max-width: 80.25rem;
    padding: 0 1rem;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    .field--name-title,
    .slide-title {
      @include responsive(font-size, $full-media-title);
      line-height: 2.25rem;
      font-weight: 800;
      color: $white;
      margin-bottom: 1rem;

      @include min-screen($screen-desktop) {
        line-height: 3rem;
      }
    }

    .field--name-field-text,
    .slide-text{
      color: $white;

      p {
        line-height: 1.375rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        @include min-screen($screen-desktop) {
          line-height: 1.75rem;
        }
      }
    }

    .field--name-field-links,
    .slide-links{
      display: flex;
      flex-wrap: wrap;
      margin: 2rem -.25rem 0;

      .field__item, .slide-link {
        margin: .25rem;
      }

      @include min-screen($screen-desktop) {
        margin: 3rem -.25rem 0;
      }
    }

    .field--name-title,
    .field--name-field-text,
    .slide-title,
    .slide-text {
      max-width: 38.125rem;
    }
  }

  .wrapper-image {
    position: relative;
    height: 100%;

    img {
      @include img-cover;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.4) 100%);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .media--copyright {
      position: absolute;
      right: 2.5rem;
      bottom: 1.5rem;
      z-index: 2;
      font-size: .75rem;
      font-weight: 400;
      opacity: .7;
      color: $white;
    }
  }

  .slick-dots {
    position: absolute;
    width: calc(100% - 3rem);
    left: 1.5rem;
    margin: 0;
    padding: 0;
    bottom: 4rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    li {
      width: 100%;
      max-width: 5rem;
      margin-right: .5rem;
      opacity: .5;
      transition: .3s;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        opacity: 1;
      }

      button {
        color: transparent;
        font-size: 0;
        width: 100%;
        height: .25rem;
        background-color: $white;
        outline: 0;
        border: 0;
        border-radius: .25rem;
      }
    }
  }
}

.wrapper-medias {
  position: relative;

  .slider-nav {
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: calc(66.67% + 1rem);
    background-color: $white;
    z-index: 1;

    @include min-screen($screen-tablet) {
      left: auto;
      right: 0;
    }

    .count {
      font-size: .75rem;
      margin-right: .5rem;
      margin-top: 0;
      color: $grey5;
      font-weight: 500;
    }

    .carousel-button {
      font-size: 0;
      margin-top: 0;

      &.slick-disabled {
        opacity: 0.5;
      }
    }

    .next {
      margin-left: 0.5rem;
    }
  }

  .slider-medias {

    .submedia {
      display: flex;
      flex-direction: column;

      .field--name-field-legend {
        order: 1;
        color: $grey5;
        font-size: .875rem;
      }

      .field--name-field-ref-licence {
        order: 2;
        color: $grey4;
        font-weight: 400;
        font-size: .875rem;
      }

      .field--name-field-copyright {
        position: relative;
        order: 3;
        left: 0;
        top: 0;
        color: $grey4;
        font-weight: 400;
        font-size: .875rem;
        opacity: 1;
      }
    }

    .field--name-field-media-image,
    img {
      width: 100%;
    }

    .field--name-field-ref-media {
      padding-bottom: 4rem;

      @include min-screen($screen-tablet) {
        padding-bottom: 0;
      }
    }

    .field--name-field-copyright,
    .field--name-field-legende,
    .slide-text {
      @include min-screen($screen-tablet) {
        padding-right: 12.75rem;
      }

      @include min-screen($screen-desktop) {
        padding-right: 12.2rem;
      }
    }
  }
}

.carousel-cards {

  .slick-slider {

    .slick-list {
      margin: 0 -.75rem;
      padding: 0 2.5rem;

      @include min-screen($screen-tablet) {
        margin: 0 -20rem;
        padding: 0 21rem;
      }

      @include min-screen($screen-desktop-xl) {
        &::before,
        &::after {
          content: '';
          position: absolute;
          z-index: 9;
          top: 0;
          width: 20rem;
          height: 100%;
          background: $white;
        }

        &::before {
          left: 0;
          background: linear-gradient(90deg, rgba($white, 1) 40%, rgba($white, 0) 100%);
        }

        &::after {
          right: 0;

          background: linear-gradient(90deg, rgba($white, 0) 0%, rgba($white, 1) 60%);
        }
      }


      .slick-slide {
        margin-left: .75rem;
        margin-right: .75rem;

        @include min-screen($screen-tablet) {
          width: 18rem;
        }

        @include min-screen($screen-desktop) {
          margin: 0 1rem;
          padding: 0;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      width: 3rem;
      height: 3rem;
      font-size: 0;
      outline: none;
      border: none;
      border-radius: 50%;
      background-color: $grey4;
      transition: .3s;
      &::after {
        font-size: 1.5rem;
        color: $white;
      }

      &.slick-prev {
        left: .5rem;

        @include min-screen($screen-tablet) {
          left: -3rem;
        }

        @include min-screen($screen-desktop-xl) {
          left: 0;
        }

        @include min-screen($screen-desktop-xxl) {
          left: -3rem;
        }

        &::after {
          @include icon('chevron_left')
        }
      }

      &.slick-next {
        right: .5rem;

        @include min-screen($screen-tablet) {
          right: -2rem;
        }

        @include min-screen($screen-desktop-xl) {
          right: 0;
        }

        @include min-screen($screen-desktop-xxl) {
          right: -2rem;
        }

        &::after {
          @include icon('chevron_right')
        }
      }

      &.slick-disabled {
        opacity: 0;
      }
    }
  }

  .card-height-fixed {
    min-height: 26.5rem;
    height: 26.5rem;
    max-height: 26.5rem;
    margin-bottom: 0;
  }

}
