.display-1 {
  @include responsive(font-size, $display1-size);
  font-weight: 800;
}

.display-2 {
  @extend .article-title;
}

.display-3 {
  @extend .section-title;
}

.display-4 {
  @extend .section-title-small;
}
// Title

.page-title {
  @include responsive(font-size, $page-title);
  font-weight: 600;
}

.article-title {
  @include responsive(font-size, $article-title);
  font-weight: 800;
  @include max-screen($screen-desktop - 1px) {
    line-height: 1.3;
  }
}

.section-title {
  @include responsive(font-size, $section-title);
  font-weight: 800;

  &-border {
    border-top: .0625rem solid $grey2;
    padding-top: 1rem;
    @include min-screen($screen-tablet) {
      padding-top: 1.5rem;
    }
  }

  &-featured {
    i {
      @include responsive(font-size, $section-title-small);
      color: $white;
      background-color: $BlueU;
      padding: .4rem;
      margin-right: .5rem;
    }
  }
}

.section-title-small {
  @include responsive(font-size, $section-title-small);
  font-weight: 600;
}


// Text

.section-text {
  @include responsive(font-size, $section-text);
  line-height: 1.33;
  i {
    vertical-align: middle;
  }
}

.section-text-small {
  @include responsive(font-size, $section-text-small);
  line-height: 1.3;
}


ul.list {
  /*@include responsive(font-size, $text);*/

  li {
    margin-bottom: 1rem;
    &::marker {
      color: $BlueU;
      font-size: 1.375rem;
    }
  }
}

ol.list {
  list-style: none;
  margin-left: 0;

  & > li {
    position: relative;
    counter-increment: custom;
    margin-bottom: 1rem;
    &::before {
      content: counter(custom) " ";
      position: absolute;
      left: -1.375rem;
      font-size: 1.125rem;
      color: $BlueU;
      font-weight: 600;
    }
    &:first-child {
      counter-reset: custom;
    }
  }
}

a.link {
  border-bottom: .0625rem solid $BlueU;
  transition: $btn-transition;
  &:hover {
    color: $Blue2;
    border-bottom: .0625rem solid $Blue2;
    text-decoration: none;
  }
}

// Quote

.blockquote {
  position: relative;
  @include responsive(font-size, $blockquote-text);
  line-height: 1.3;
  padding-left: 1.75rem;
  &::before {
    content: '';
    position: absolute;
    width: .25rem;
    height: 100%;
    background-color: $BlueU;
    top: 0;
    left: 0;
    border-radius: .125rem;
  }
}

/* increase font size*/
.big,big{
  font-size: 1.55em;
}


/*fix small issue with font-weight*/
.small,small{
  font-size: .875em;
  font-weight: inherit;
}

  @each $name, $width in $grid-breakpoints {
  @include media-breakpoint-up($name) {
    .small-#{$name}{
      font-size: .875em;
      font-weight: inherit;
    }

    .big-#{$name}{
      font-size: 1.45em;
    }
  }
}

  @each $name, $width in $grid-breakpoints {
  @include media-breakpoint-up($name) {
    .text-#{$name}-white{
      color:$white !important;
    }
     .text-#{$name}-dark{
      color:$dark !important;
    }
  }
}
