@import '../base/variables';

// Body

$body-bg:         $white !default;
$body-color:      $darkGrey !default;
$black:           $darkGrey;

// Typography

$font-family-base: 'Inter', sans-serif;

// Grid containers

$container-max-widths: (
  sm: 520px,
  md: 700px,
  lg: 952px,
  xl: 1152px
);

// Grid columns

$grid-columns:                12;
$grid-gutter-width:           32px;

// Colors

$primary:       $BlueU !default;
$secondary:     $Blue2 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
    (
      "primary":    $primary,
      "secondary":  $secondary,
      "grey5":      $grey5,
      "grey4":      $grey4,
      "grey2":      $grey2,
      "grey1":      $grey1,
      "white":      $white,
    ),
    $theme-colors
);

// Components

$border-color: $grey2;
$border-radius: 1.5rem;

// Typography

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.125;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.67;

$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2.25;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.125;
$h6-font-size:                $font-size-base !default;


//$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-family:        null !default;
$headings-font-weight:        600 !default;
$headings-line-height:        1.17 !default;
$headings-color:              $darkGrey;

$small-font-size:             80% !default;

// Buttons

$btn-padding-y:               .625rem !default;
$btn-padding-x:               1.25rem !default;
$btn-font-size:               0.875rem !default;
$btn-line-height:             1.4 !default;

$btn-padding-y-sm:            .375rem !default;
$btn-padding-x-sm:            1rem !default;
$btn-font-size-sm:            $btn-font-size !default;
$btn-line-height-sm:          $btn-line-height !default;

$btn-padding-y-lg:            .875rem !default;
$btn-padding-x-lg:            1.5rem !default;
$btn-font-size-lg:            $btn-font-size !default;
$btn-line-height-lg:          $btn-line-height !default;

$btn-font-weight:             600;

$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $btn-border-radius !default;
$btn-border-radius-sm:        $btn-border-radius!default;


// Dropdowns

$dropdown-border-color:      $border-color !default;
$dropdown-border-radius:     $border-radius !default;
$dropdown-divider-bg:        $border-color !default;

$dropdown-color:             $grey4 !default;
$dropdown-link-color:        $grey4 !default;
$dropdown-link-hover-color:  $darkGrey !default;
$dropdown-link-hover-bg:     transparent !default;


// Forms

$label-margin-bottom:                   .5rem !default;

$input-padding-y:                       .875rem !default;
$input-padding-x:                       1.5rem !default;
$input-font-size:                       .875rem !default;

$input-disabled-bg:                     $grey1 !default;

$input-placeholder-color:               $grey4 !default;
$input-color:                           $darkGrey !default;
$input-border-color:                    $border-color !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-lg:                $input-border-radius !default;
$input-border-radius-sm:                $input-border-radius !default;

// Select custom

$custom-select-border-color:        $border-color !default;
$custom-select-border-radius:       $border-radius !default;

// Custom Checkbox

$custom-checkbox-indicator-border-radius: .125rem !default;

// Form validation

$form-feedback-margin-top:          .5rem !default;
$form-feedback-font-size:           .875rem !default;
$form-feedback-valid-color:         $green !default;
$form-feedback-invalid-color:       $redWarning !default;

// Navigation

$component-active-color:            $white;
$component-active-bg:               $BlueU;
$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                1rem;
$navbar-nav-link-padding-x:         1rem;

$nav-tabs-border-color:             transparent;
$nav-tabs-border-width:             0 0 1px 0;
$nav-tabs-border-radius:            0;
$nav-tabs-link-hover-border-color:  $BlueU;
$nav-tabs-link-active-color:        $darkGrey;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $BlueU;

$nav-pills-border-radius:           $border-radius;
$nav-pills-link-active-color:       $component-active-color !default;
$nav-pills-link-active-bg:          $component-active-bg !default;


// Navbar

$navbar-padding-y:                  0;
$navbar-padding-x:                  0;

$navbar-brand-font-size:            $font-size-lg;

// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2 !default;

$navbar-toggler-padding-y:          0.575rem;
$navbar-toggler-padding-x:          0.625rem;
$navbar-toggler-font-size:          $font-size-lg !default;
$navbar-toggler-border-radius:      50%;

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 14 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cpath d='M0,9l13.5,0l0,-1.5l-13.5,0l0,1.5Zm0,-3.75l13.5,0l0,-1.5l-13.5,0l0,1.5Zm0,-5.25l0,1.5l13.5,0l0,-1.5l-13.5,0Z' style='fill:#{$navbar-dark-color};fill-rule:nonzero;'/%3E%3C/svg%3E");
$navbar-dark-toggler-border-color:  $Blue2;

$navbar-light-color:                $primary;
$navbar-light-hover-color:          $secondary;
$navbar-light-active-color:         $primary;
$navbar-light-disabled-color:       rgba($black, .3) !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 14 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cpath d='M0,9l13.5,0l0,-1.5l-13.5,0l0,1.5Zm0,-3.75l13.5,0l0,-1.5l-13.5,0l0,1.5Zm0,-5.25l0,1.5l13.5,0l0,-1.5l-13.5,0Z' style='fill:#{$navbar-dark-color};fill-rule:nonzero;'/%3E%3C/svg%3E");
$navbar-light-toggler-border-color: $BlueU;

$navbar-light-brand-color:                $navbar-light-active-color !default;
$navbar-light-brand-hover-color:          $navbar-light-active-color !default;
$navbar-dark-brand-color:                 $navbar-dark-color;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color !default;


// Cards

$card-spacer-y:             1.5rem !default;
$card-spacer-x:             1.5rem !default;
$card-border-width:         0 !default;
$card-border-radius:        .5rem !default;
$card-border-color:         transparent !default;
$card-cap-bg:               transparent !default;
$card-bg:                   $grey1 !default;
$card-columns-gap:          1rem !default;

// List group


$list-group-border-color:           $grey2 !default;
$list-group-border-radius:          .5rem !default;
$list-group-item-padding-y:         1rem !default;
//$list-group-item-padding-x:         0 !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:          1rem;
$table-cell-padding-sm:       .3rem !default;

$table-color:                 $body-color !default;
$table-bg:                    null !default;
$table-accent-bg:             rgba($black, .05) !default;
$table-hover-color:           $table-color !default;
$table-hover-bg:              rgba($black, .075) !default;
$table-active-bg:             $table-hover-bg !default;

$table-border-width:          1px;
$table-border-color:          $border-color !default;