@import '../base/variables';

// Place for overrides
// Grid sizes
// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 600px,
  lg: 768px,
  xl: 1024px
);

// Grid containers

$container-max-widths: (
  sm: 520px,
  md: 700px,
  lg: 952px,
  xl: 1152px
);

// Grid columns

$grid-columns:                12;
$grid-gutter-width:           32px;

// Typography

$font-family-base: 'Inter', sans-serif;

// Colors

$primary:       $BlueU !default;
$secondary:     $Blue2 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
    (
      "primary":    $primary,
      "secondary":  $secondary,
      "grey5":      $grey5,
      "grey4":      $grey4,
      "grey2":      $grey2,
      "grey1":      $grey1,
      "white":      $white,
    ),
    $theme-colors
);

// Buttons

$btn-padding-y:               .625rem !default;
$btn-padding-x:               1.25rem !default;
$btn-font-size:               0.875rem !default;
$btn-line-height:             1.4 !default;

$btn-padding-y-sm:            .375rem !default;
$btn-padding-x-sm:            1rem !default;
$btn-font-size-sm:            $btn-font-size !default;
$btn-line-height-sm:          $btn-line-height !default;

$btn-padding-y-lg:            .875rem !default;
$btn-padding-x-lg:            1.5rem !default;
$btn-font-size-lg:            $btn-font-size !default;
$btn-line-height-lg:          $btn-line-height !default;

$btn-font-weight:             600;

$btn-border-radius:           1.5rem !default;
$btn-border-radius-lg:        $btn-border-radius !default;
$btn-border-radius-sm:        $btn-border-radius!default;

// Dropdowns

$dropdown-border-color:      $greyBorder !default;
$dropdown-border-radius:     1.5rem !default;
$dropdown-divider-bg:        $greyBorder !default;

$dropdown-color:             $grey4 !default;
$dropdown-link-color:        $grey4 !default;
$dropdown-link-hover-color:  $darkGrey !default;
$dropdown-link-hover-bg:     transparent !default;

