@font-face {
  font-family: $icons_family;
  font-style: normal;
  font-weight: normal;
  src: url('#{$icons_path}/#{$icons_family}.ttf') format('truetype'),
  url('#{$icons_path}/#{$icons_family}.woff') format('woff'),
  url('#{$icons_path}/#{$icons_family}.svg') format('svg');
}

.icon,
.icon::before {
  font-family: $icons_family !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  diamond: '\e900',
  mountain: '\e907',
  unesco: '\e906',

  facebook: '\e903',
  instagram: '\e904',
  linkedln: '\e905',
  twitter: '\e901',
  youtube: '\e902',
  share: '\e919',

  sdg-1: '\e908',
  sdg-2: '\e909',
  sdg-3: '\e90a',
  sdg-4: '\e90b',
  sdg-5: '\e90c',
  sdg-6: '\e90d',
  sdg-7: '\e90e',
  sdg-8: '\e90f',
  sdg-9: '\e910',
  sdg-10: '\e911',
  sdg-11: '\e912',
  sdg-12: '\e913',
  sdg-13: '\e914',
  sdg-14: '\e915',
  sdg-15: '\e916',
  sdg-16: '\e917',
  sdg-17: '\e918',
);

$icon-color: (
  sdg-1: #e5243b,
  sdg-2: #dda63a,
  sdg-3: #4c9f38,
  sdg-4: #c5192d,
  sdg-5: #ff3a21,
  sdg-6: #26bde2,
  sdg-7: #fcc30b,
  sdg-8: #a21942,
  sdg-9: #fd6925,
  sdg-10: #dd1367,
  sdg-11: #fd9d24,
  sdg-12: #bf8b2e,
  sdg-13: #3f7e44,
  sdg-14: #0a97d9,
  sdg-15: #56c02b,
  sdg-16: #00689d,
  sdg-17: #19486a,
);

@function unicode($str) {
  @return unquote('\'') + $str + unquote('\'');
}

@each $icon-name, $icon-value in $icons {
  .#{$icon_prefix}#{$icon-name}::before {
    content: unicode($icon-value);
  }
}

@each $icon-name, $icon-value in $icon-color {
  .#{$icon_prefix}#{$icon-name}::before {
    color: $icon-value;
  }
}

