.rich-text {
  p {
    @include responsive(font-size, $text);
  }

  ul {
    @include responsive(font-size, $text);
    padding-inline-start: 1.5rem;

    li {
      margin-bottom: 1rem;
      &::marker {
        color: $BlueU;
        font-size: 1.375rem;
      }
    }
  }

  ol {
    list-style: none;
    margin-left: 0;
    padding-inline-start: 1.5rem;
    @include responsive(font-size, $text);

    li {
      position: relative;
      counter-increment: custom;
      margin-bottom: 1rem;
      &::before {
        content: counter(custom) " ";
        position: absolute;
        left: -1.375rem;
        font-size: 1.125rem;
        color: $BlueU;
        font-weight: 600;
      }
      &:first-child {
        counter-reset: custom;
      }
    }
  }

  a {
    border-bottom: .0625rem solid $BlueU;
    transition: $btn-transition;
    &:hover {
      color: $Blue2;
      border-bottom: .0625rem solid $Blue2;
      text-decoration: none;
    }
  }

  strong {
    font-weight: 600;
  }

  u {
    border-bottom: 0.0625rem solid $darkGrey;
    text-decoration: none;
  }
}
