// Responsive font size
// Title
$page-title: (
  null: 1.75rem,
  medium: 2.25rem,
  large: 3rem
);

$hero-title : (
  null: 1.75rem,
  large: 3.75rem
);

$section-title: (
  null: 1.5rem,
  large: 2.25rem
);

$section-title-small: (
  null: 1.125rem,
  large: 1.5rem
);

$article-title: (
  null: 1.75rem,
  large: 3rem
);

// Text
$section-text: (
  null: 1.125rem,
  large: 1.5rem
);

$section-text-small: (
  null: 1rem,
  large: 1.125rem
);

$text: (
  null: 1rem,
  medium: 1.125rem
);

// Quote
$blockquote-text: (
  null: 1.5rem,
  large: 1.75rem
);

// Full media
$full-media-title: (
  null: 1.75rem,
  large: 2.25rem
);

// Title

.page-title {
  @include responsive(font-size, $page-title);
  font-weight: 600;
}

.section-title {
  @include responsive(font-size, $section-title);
  font-weight: 600;

  &-featured {
    i {
      @include responsive(font-size, $section-title-small);
      color: $white;
      background-color: $BlueU;
      padding: .4rem;
      margin-right: .5rem;
    }
  }
}

.section-title-small {
  @include responsive(font-size, $section-title-small);
  font-weight: 600;
}

.article-title {
  @include responsive(font-size, $article-title);
  font-weight: 800;
}

// Text

.section-text {
  @include responsive(font-size, $section-text);
  line-height: 1.3;
  i {
    vertical-align: middle;
  }
}

.section-text-small {
  @include responsive(font-size, $section-text-small);
  line-height: 1.3;
}

// Rich Text

p {
  @include responsive(font-size, $text);
}

ul.list {
  @include responsive(font-size, $text);

  li {
    margin-bottom: 1rem;
    &::marker {
      color: $BlueU;
      font-size: 1.375rem;
    }
  }
}

ol.list {
  list-style: none;
  margin-left: 0;
  @include responsive(font-size, $text);

  li {
    position: relative;
    counter-increment: custom;
    margin-bottom: 1rem;
    &::before {
      content: counter(custom) " ";
      position: absolute;
      left: -1.375rem;
      font-size: 1.125rem;
      color: $BlueU;
      font-weight: 600;
    }
    &:first-child {
      counter-reset: custom;
    }
  }
}

a.link {
  border-bottom: .0625rem solid $BlueU;
  transition: $btn-transition;
  &:hover {
    color: $Blue2;
    border-bottom: .0625rem solid $Blue2;
    text-decoration: none;
  }
}

.boxed {
  border-radius: .5rem;
  padding: 1.5rem;
  @include min-screen($screen-desktop) {
    padding: 2rem;
  }
}
// Quote

.blockquote {
  position: relative;
  @include responsive(font-size, $blockquote-text);
  line-height: 1.3;
  padding-left: 1.75rem;
  &::before {
    content: '';
    position: absolute;
    width: .25rem;
    height: 100%;
    background-color: $BlueU;
    top: 0;
    left: 0;
    border-radius: .125rem;
  }
}
