// COLORS
// Main colors
$LightBlue: #B2D6F2;
$BlueU:     #0077D4;
$Blue2:     #115A9E;
$Blue3:     #0E4280;

// Greys
$darkGrey:    #212121;
$grey5:       #4C5054;
$grey4:       #7F888F;
$grey3:       #B1BABE;
$grey2:       #F1F4F6;
$grey1:       #F1F4F6;
$greyBorder:  #D5DADD;
$white:       #ffffff;

// Shades
$greenLight:       #94D1BD;
$blueLight:        #7DC7D8;
$purpleLight:      #8D9EDA;
$redLight:         #DA9A8D;
$orangeLight:      #DCBB7C;
$green:            #4FB293;
$teal:             #2D9BB1;
$purple:           #4B6AD9;
$red:              #D6664F;
$orange:           #E4A429;

// Alerts
$redWarning:       #D8552C;
