// COLORS
// Main colors
$LightBlue: #B2D6F2;
$BlueU:     #0077D4;
$Blue2:     #115A9E;
$Blue3:     #0E4280;

// Greys
$darkGrey:    #212121;
$grey5:       #4C5054;
$grey4:       #7F888F;
$grey3:       #B1BABE;
$grey2:       #D5DADD;
$grey1:       #F1F4F6;
$white:       #ffffff;

// Shades
$greenLight:       #A6DDCB;
$blueLight:        #A1D7E1;
$purpleLight:      #C2CBEC;
$redLight:         #ECBEB5;
$orangeLight:      #EECF93;
$green:            #4FB293;
$teal:             #2D9BB1;
$purple:           #4B6AD9;
$red:              #D6664F;
$orange:           #E4A429;

// Alerts
$redWarning:       #D8552C;

// Icons
$icons_family: 'unesco';
$icons_path: '../../fonts/icons';
$icon_prefix: 'icon-';

// Screen size
$screen-mobile: 375px;
$screen-tablet: 768px;
$screen-desktop: 1024px;

// Transitions (bootstrap)
$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// BreakPoints
$r-breakpoints: (
  medium: $screen-tablet,
  large: $screen-desktop
);





