$margin24: (
  null: 1rem,
  large: 1.5rem
);

.region-content {
  padding: 0;
}

.node--view-mode-full {
  .article-title {
    margin-top: 0;
    @include responsive(margin-bottom, $margin24);
  }

  .addthis_toolbox {
    margin-bottom: 2rem;

    @include min-screen($screen-desktop) {
      margin-bottom: 3rem;
    }
  }

  h3 {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: 0 0 1rem;
  }

  .media-wrapper {
    font-size: 0.875rem;
    margin-bottom: 1rem;

    @include min-screen($screen-desktop) {
      margin-bottom: 2rem;
    }

    .field--name-field-ref-image {
      margin-bottom: 1rem;
    }

    .media-legend {
      color: $grey5;
    }

    .media-copyright,
    .media-license {
      color: $grey4;
      display: inline-block;
      padding-left: 2px;
    }

    .media-copyright + .media-license {
      &::before {
        content: '. ';
      }
      margin-left: -4px;
    }
  }
  .last-update {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include min-screen($screen-desktop) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  .content-tags {
    margin-bottom: 2rem;

    @include min-screen($screen-desktop) {
      margin-bottom: 3rem;
    }

    .item-list {
      ul {
        @include noneListStyle;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.25rem -1rem;

        li {
          padding: 0 0.25rem 1rem;
        }
      }
    }
  }

  .content-sdg {
    margin-bottom: 2rem;

    >div {
      padding: 0;
    }

    p {
      font-size: 0.875rem;
    }

    @include min-screen($screen-desktop) {
      margin-bottom: 3rem;
    }
  }
}

.node--type-page,
.node--type-sequenced-page {
  &.node--view-mode-full {

    .node__content {
      display: flex;

      .main-node-content {
        width: 100%;
        max-width: 38.125rem;
        margin: 0 auto;

        .main-node-header {
          @include min-screen($screen-desktop) {
            width: 51.5rem;
          }
        }

        >.field--name-field-ref-image {
          .field--name-field-media-image,
          img {
            width: 100%;
            max-width: unset;
          }

          .field--name-field-media-image {
            width: 100%;
          }
        }
      }

      .content-header {
        @include min-screen($screen-desktop-xl) {
          width: 51.5rem;
        }
      }


      .field--name-field-ref-cta {
        width: 100%;

        .banner-image {
          .material-icons-sharp {
            font-size: 6rem;
            color: white;
          }
        }

        .banner-text {
          font-weight: 600;
        }
      }
    }
  }
}

.page-unpublished {
  background-color: $unpublished;

  .node--view-mode-full {
    background-color: $white;
  }

  div,
  span,
  p {
    color: $body-color;
  }
}
