$paddingTop: (
  null: 2.5rem,
  large: 6rem
);

.node--type-sequenced-page {
  &.node--view-mode-full {
    position: relative;
    padding-top: 2.5rem;
    @include responsive(padding-top, $paddingTop);
  }

  .field--name-field-paragraphs {
    @include mb-block;
  }
}

.field--name-field-copyright,
.media-copyright,
.media--copyright {
  &::before {
    content: '\00A9';
    margin-right: .25rem;
  }
}
