$paddingTop: (
  null: 2.5rem,
  large: 3.5rem
);

.node--type-page {
  &.node--view-mode-full {
    padding-top: 2.5rem;
    @include responsive(padding-top, $paddingTop);

    .node__content {
      display: flex;
    }
  }
}
