$space-bottom: (
  null: 1.5rem,
  large: 3rem
);

$space-bottom7: (
  null: 3.5rem,
  large: 7rem
);

.header-landing,
.header-homepage {
  height: 100vh;
  @include responsive(padding-bottom, $space-bottom7);
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  margin-bottom: 3.5rem;

  @include min-screen($screen-desktop) {
    margin-bottom: 6rem;
  }

  .field--name-field-ref-image {
    position: absolute;
    left: 50%;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-50%);
    z-index: -1;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.4) 100%);
      mix-blend-mode: normal;
      position: absolute;
      left: 50%;
      top: 0;
      width: 100vw;
      height: 100vh;
      transform: translateX(-50%);
      z-index: 0;
    }

    img {
      min-width: 100%;
      width: auto;
      object-fit: cover;
      min-height: 100vh;
      max-width: unset;
    }
  }

  .article-title {
    @include responsive(font-size, $hero-title);
    @include responsive(margin, 0 0 $space-bottom);
    font-weight: 800;
    color: $white;
  }

  .field--name-field-link {
    margin-top: 3rem;
  }

  .field--name-field-description {
    @include responsive(font-size, $section-text-small);
    font-weight: 400;
  }

  .no-header-image & {
    height: auto;
    display: block;
    color: $darkGrey;
    padding: 0;

    .article-title {
      @include responsive(font-size, $article-title);
      font-weight: 800;
      color: $darkGrey;
    }

    .field--name-field-description {
      @include responsive(font-size, $section-text);
      line-height: 1.3;
      color: $darkGrey;
    }
  }
}