$margin24: (
  null: 1rem,
  large: 1.5rem
);

.node--view-mode-full {
  .article-title {
    margin-top: 0;
    @include responsive(margin-bottom, $margin24);
  }

  .addthis_toolbox {
    margin-bottom: 2rem;

    @include min-screen($screen-desktop) {
      margin-bottom: 3rem;
    }
  }

  h3 {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: 0 0 1rem;
  }

  .media-wrapper {
    font-size: 0.875rem;
    margin-bottom: 2rem;

    @include min-screen($screen-desktop) {
      margin-bottom: 3rem;
    }

    .media-legend {
      color: $grey5;
    }
    .media-copyright {
      color: $grey4;
    }
  }

  .last-update {
    margin-bottom: 2rem;

    @include min-screen($screen-desktop) {
      margin-bottom: 3rem;
    }
  }

  .content-tags {
    margin-bottom: 2rem;

    @include min-screen($screen-desktop) {
      margin-bottom: 3rem;
    }

    .item-list {
      ul {
        @include noneListStyle;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.25rem -1rem;

        li {
          padding: 0 0.25rem 1rem;
        }
      }
    }
  }
}

.node--type-page,
.node--type-sequenced-page {
  &.node--view-mode-full {

    .node__content {
      display: flex;

      .main-node-content {
        max-width: 51.5rem;
        width: 100%;
        margin: 0 auto;

        >.field--name-field-ref-image {
          .field--name-field-media-image,
          img {
            width: 100%;
          }
        }
      }

      .content-narrow {
        max-width: 38.125rem;
        margin: 0 auto;
      }

      aside {
        display: none;
        margin-right: 6.125rem;
        width: 15.063rem;

        @include min-screen($screen-desktop) {
          display: block;
        }

        h3 {
          font-size: 0.875rem;
          text-transform: none;
          margin: 0 0 1rem;
        }

        ul {
          margin: 0rem;
          padding: 0;
          list-style: none;

          li {
            font-size: 0.875rem;
            padding-left: 1rem;
            margin-bottom: 1rem;
            margin-left: 0;
            position: relative;

            a {
              color: inherit;
              text-decoration: none;
            }

            &::before {
              content: "";
              display: inline-block;
              width: 0.313rem;
              height: 0.313rem;
              position: absolute;
              left: 0;
              top: 0.25rem;
              line-height: inherit;
              vertical-align: middle;
              border-radius: 50%;
              background-color: $grey3;
            }

            &::after {
              content: "";
              display: block;
              position: absolute;
              left: 0.063rem;
              top: 0.625rem;
              width: 2px;
              height: 100%;
              background-color: $grey1;
            }

            &:last-child::after {
              display: none;
            }
          }
        }
      }
    }
  }
}

main .node--unpublished {
  background-color: $unpublished;

  div,
  span,
  p,
  .title {
    color: $body-color;
  }
}