$paddingTop: (
  null: 2.5rem,
  large: 3.5rem
);

.node--type-page {
  &.node--view-mode-full {
    padding-top: 2.5rem;
    @include responsive(padding-top, $paddingTop);

    .node__content {
      display: flex;

      .main-node-content {
        max-width: 51.5rem;
      }

      .content-narrow {
        max-width: 38.125rem;
      }

      aside {
        margin-right: 6.125rem;
        width: 15.063rem;

        h3 {
          font-size: 0.875rem;
          text-transform: none;
          margin: 0 0 1rem;
        }

        ul {
          margin: 0rem;
          padding: 0;
          list-style: none;

          li {
            font-size: 0.875rem;
            padding-left: 1rem;
            margin-bottom: 1rem;
            margin-left: 0;
            position: relative;

            a {
              color: inherit;
              text-decoration: none;
            }
      
            &::before {
              content: "";
              display: inline-block;
              width: 0.313rem;
              height: 0.313rem;
              position: absolute;
              left: 0;
              top: 0.25rem;
              line-height: inherit;
              vertical-align: middle;
              border-radius: 50%;
              background-color: $grey3;
            }

            &::after {
              content: "";
              display: block;
              position: absolute;
              left: 0.063rem;
              top: 0.625rem;
              width: 2px;
              height: 100%;
              background-color: $grey1;
            }

            &:last-child::after {
              display: none;
            }
          }
        }
      }
    }
  }
}