$space-bottom: (
  null: 1.5rem,
  large: 3rem
);

$space-bottom7: (
  null: 3.5rem,
  large: 7rem
);

.header-landing,
.header-homepage {
  height: 100vh;
  @include responsive(padding-bottom, $space-bottom7);
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  .field--name-field-ref-image {
    position: absolute;
    left: 50%;
    top: 0;
    width: 100vw;
    transform: translateX(-50%);
    z-index: -1;

    img {
      min-width: 100%;
      width: auto;
      object-fit: cover;
      min-height: 100vh;
      max-width: unset;
    }
  }

  .article-title {
    @include responsive(font-size, $hero-title);
    @include responsive(margin, 0 0 $space-bottom);
    font-weight: 800;
    color: $white;
  }
}
