$error-title: (
  null: .875rem,
  medium: 1.125rem
);

$error-text: (
  null: 1.75rem,
  medium: 2.25rem
);

.page-error {

  .error-wrapper {
    padding: 3.5rem 0;
    @include min-screen($screen-desktop) {
      padding: 6rem 0;
    }

    .error-title {
      @include responsive(font-size, $error-title);
      color: $BlueU;
      font-weight: 400;
      margin-bottom: 0;
    }

    .error-text {
      @include responsive(font-size, $error-text);
      font-weight: 400;
    }

    .btn {
      margin-top: 5rem;
      @include max-screen($screen-desktop - 1px) {
        padding: $btn-padding-y-sm $btn-padding-x-sm;
      }
      @include min-screen($screen-desktop) {
        margin-top: 1.5rem;
      }
    }
  }

  .unesco-latest-articles {
    border-top: $grey2 solid 1px;
    padding-top: 1.5rem;

    h3 {
      margin-bottom: 3rem;
      font-size: 36px;
    }

    .list {
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }

    .node--type-article {
      width: 25%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      margin-bottom: 1rem;

      a {
        text-decoration: none;
      }

      .node__content {
        margin: 0 1rem 2rem;
        padding-top: 1.5rem;
        border-top: $grey2 solid 1px;

        @media screen and (max-width: 768px) {
          margin: 0 0 2rem;
        }
      }
      .field--name-field-ref-image {
        padding-bottom: 1rem;
        @media screen and (max-width: 768px) {
          float: right;
        }
      }

      .section-text {
        margin: 0;
      }

      &.node--view-mode-grid-big-first {
        width: 50%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }

        .title {
          font-size: 28px;
        }
      }

      .title {
        color: $darkGrey;
        margin-bottom: 1rem;
        font-size: 20px;
      }

      .field--name-created {
        color: $grey4;
        font-size: 14px;
      }

      &:nth-child(1), &:nth-child(4) {
        .node__content {
          margin-left: 0;
        }
      }

      &:nth-child(3), &:nth-child(7) {
        .node__content {
          margin-right: 0;
        }
      }
    }
  }

}
