$search-content-title: (
  null: 1.125rem,
  large: 1.25rem
);

.wrapper-search-text {
  @include fullWidthBackground($grey1);
  padding: 2rem 0;

  &::before,
  &::after {
    z-index: -1;
  }

  @include min-screen($screen-desktop) {
    padding: 6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-item,
  .form-actions {
    margin: 0;


    input {
      border-radius: 5rem;
      margin-top: 0;
    }

    .form-submit {
      padding: $btn-padding-y-lg 3rem;
      margin-top: .5rem;
      width: 100%;
      text-align: center;
      background-image: url('../images/search-white-24dp.svg');
      background-size: 15%;
      background-repeat: no-repeat;
      background-position: right 11% bottom 50%;


      @include min-screen($screen-desktop) {
        width: auto;
        margin-top: 0;
        margin-left: .5rem;
      }
    }
  }
}

.wrapper-facets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  @include min-screen($screen-desktop) {
    padding: 2rem 0;
  }

  &.active {
    @include fullWidthBackground($white);
    border-bottom: .0625rem solid $grey2;
    &::before,
    &::after {
      border-bottom: .0625rem solid $grey2;
      top: .0625rem;
      z-index: -1;
    }

    & + .results-sort-wrapper {
      margin-top: 3.5rem;
      @include min-screen($screen-desktop) {
        margin-top: 6rem;
      }
    }
  }

  .toggle-facets {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: .75rem;
    &::after {
      @include icon('expand_more');
      margin-left: 0.625rem;
      line-height: 1;
      color: $grey4;
      transition: .3s;
    }
    &.active {
       &::after {
         transform: rotate(-180deg);
       }
     }
  }

  > div:first-child {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .filter-used {
    display: flex;
    align-items: center;
    font-size: .875rem;
    padding: .4rem .75rem;
    border: .0625rem solid $grey2;
    border-radius: .25rem;
    margin: 0 .25rem;
    color: $grey5;
    &:hover {
      text-decoration: none;
    }
    &::after {
      @include icon('close');
      margin-left: 0.4rem;
      line-height: 1;
      font-size: 1rem;
      color: $grey3;
    }
  }

}

.facets-list {
  display: none;
  width: 100%;

  .facets-first {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    @include min-screen($screen-tablet) {
      grid-template-columns: 1fr 1fr;
    }
    @include min-screen($screen-desktop) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.block-facets {
  position: relative;

  .facet-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .875rem 1.5rem;
    border-radius: 4rem;
    border: .0625rem solid $grey2;
    font-size: .875rem;
    margin-bottom: 0;
    cursor: pointer;
    &::after {
      @include icon('expand_more');
      margin-left: 0.625rem;
      line-height: 1;
      font-size: 1.25rem;
      color: $grey3;
      transition: .3s;
    }
    &.active {
      border-color: $LightBlue;
      box-shadow: 0 0 0 .0625rem $LightBlue;
      &::after {
        transform: rotate(-180deg);
      }
    }
  }

  .wrapper-facet-checkbox-search {
    display: none;
    position: absolute;
    margin-top: .25rem;
    background-color: white;
    border-radius: .5rem;
    border: .0625rem solid $grey2;
    z-index: 80;
    padding: 1.5rem;
  }

}

.results-sort-wrapper {
  margin-top: 0;
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include min-screen($screen-desktop) {
    margin-bottom: 3rem;
    max-width: 51.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .count-results {
    font-size: .875rem;
  }

  .form-item-sort-by {
    position: relative;
    margin: 0;
    padding-right: 1.5rem;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      @include icon('expand_more');
      color: $grey4;
    }
    label {
      display: none;
    }
    select.form-control {
      height: auto;
      padding: 0;
      border: none;
      cursor: pointer;
      font-size: .875rem;
      color: $grey4;
      font-weight: 600;
      &:focus {
        box-shadow: none;
      }
    }
  }

  .form-actions {
    display: none;
  }
}

.view-content {
  width: 100%;
  @include min-screen($screen-desktop) {
    max-width: 51.5rem;
    margin: 0 auto;
  }
  .views-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border-top: .0625rem solid $grey2;
    padding: 1.5rem 0;
    margin-bottom: .5rem;
    @include min-screen($screen-desktop) {
      margin-bottom: 1.5rem;
    }

    .views-field-title-1 {
      @include responsive(font-size, $search-content-title);
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: .375rem;
    }

    .views-field-field-description-1 {
      display: none;
      @include min-screen($screen-desktop) {
        font-size: 1rem;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    .views-field-date-solr {
      font-size: .875rem;
      margin-top: 1rem;
      color: $grey4;
    }

    .row-image {
      width: 5rem;
      min-width: 5rem;
      height: 5rem;
      margin-left: 1.5rem;
      img {
        @include img-cover;
      }
      @include min-screen($screen-desktop) {
        width: 11.375rem;
        min-width: 11.375rem;
        height: 7.5rem;
        margin-left: 2rem;
      }
    }
  }
}
