.card {
  overflow: hidden;
  @include min-screen($screen-tablet) {
    min-height: 26.5rem;
    height: 26.5rem;
    max-height: 26.5rem;
  }
  &-title {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 2rem);
    max-height: 6rem;
    overflow: hidden;
    margin-bottom: 0;
  }
  &-text {
    @include min-screen($screen-tablet) {
      max-height: 18.5rem;
      overflow: hidden;
    }
  }
}


// Shame

.card-image {
  position: relative;
  background-size: cover;
  background-position: center center;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $darkGrey;
    opacity: .5;
    z-index: 0;
  }
  .card-body, .card-header {
    position: relative;
    z-index: 1;
    color: $white;
    .card-title {
      color: $white;
    }
  }
}

.card-header {
  margin-bottom: -1.5rem;
}

.card-circle {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background-color: $greenLight;
  margin-bottom: 1.5rem;
  text-align: center;
  i {
    font-size: 3.5rem;
    line-height: 7.5rem;
    color: $white;
  }
}

.card-hero {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 9rem;
}


