// Alert

.custom-alert {
  width: 100%;
  padding: 1.125rem 1.625rem;
  background-color: $grey5;
  color: $white;
  font-size: .875rem;
  font-weight: 600;

  i {
    display: inline-block;
    vertical-align: top;
    margin-right: .625rem;
  }

  @include min-screen($screen-tablet) {
    padding: 1.25rem 2.25rem;
    font-size: 1rem;
    i {
      margin-right: 1.125rem;
    }
  }

  @include min-screen($screen-desktop) {
   padding: 1.25rem 6rem;
  }
}

// Cookies

.cookies {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  background-color: $grey1;
  color: $darkGrey;
  font-size: 1rem;
  border-top: .0625rem solid $grey2;

  &-actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  @include min-screen($screen-tablet) {
    padding: 1.5rem 2.125rem;
  }

  @include min-screen($screen-desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    &-actions {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
}

// Override eu_cookie_compliance.

#sliding-popup {
  h2,
  div,
  p {
    color: $darkGrey;
  }
}

.eu-cookie-compliance-default-button {
  box-shadow: none;
  text-shadow: none;
  background-image: unset;

  &:hover {
    background-image: unset;
  }
}


// List group flush

.list-group-flush {
  border-top: .0625rem solid $grey2;
  .list-group-item {
    padding: 1rem 0;
  }
}

// Icon

.icon-business {
  display: inline-block;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  line-height: 3rem !important;
  border-radius: 50%;
  background-color: $grey1;
  color: $BlueU;
  text-align: center;
}

$colors: ( grey: $grey1, orange: $orangeLight, green: $greenLight, blue: $blueLight, purple: $purpleLight, red: $redLight, yellow: $orangeLight );
@each $colorName, $color in $colors {
  .bg-#{$colorName} {
    background-color: $color;
  }
}

.toolbar-tray-open {
  &.toolbar-horizontal {
    &.transparent-header {
      header {
        top: 79px;
      }
    }
  }
  &.toolbar-vertical {
    &.transparent-header {
      header {
        top: 39px;
      }
    }
  }
}

.transparent-header.user-logged-in .block-local-tasks-block {
  z-index: 100;
  background: white;
  display: inline-block;
  border-radius: 10px;
  position: absolute;
  top: 240px;
}
