// Alert

.custom-alert {
  width: 100%;
  padding: 1.125rem 1.625rem;
  background-color: $grey5;
  color: $white;
  font-size: .875rem;
  font-weight: 600;

  i {
    display: inline-block;
    vertical-align: top;
    margin-right: .625rem;
  }

  @include min-screen($screen-tablet) {
    padding: 1.25rem 2.25rem;
    font-size: 1rem;
    i {
      margin-right: 1.125rem;
    }
  }

  @include min-screen($screen-desktop) {
   padding: 1.25rem 6rem;
  }
}

// Cookies
div#sliding-popup,
div#sliding-popup .eu-cookie-withdraw-banner,
.eu-cookie-withdraw-tab {
  background: transparent;
  margin: 0;

  >div {
    margin: 0;
  }
}

.cookies {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: $darkGrey;
  font-size: 1rem;
  border-top: .0625rem solid $grey2;
  @extend .container;
  margin: 0 auto;
  @include fullWidthBackground($grey1);

  &::before,
  &:after {
    border-top: .0625rem solid $grey2;
    top: -1px;
  }

  &-actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  @include min-screen($screen-desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;

    &-actions {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
}

// Override eu_cookie_compliance.

#sliding-popup {
  h2,
  div,
  p {
    font-size: 1rem;
    color: $darkGrey;
    font-weight: 400;
  }

  h2, p {
    display: inline;
    margin-right: 0.5rem;
    margin-bottom: 0;
  }

  h2:after {
    content: ".";
  }
}

.eu-cookie-compliance-content {
  max-width: 100%;
}

.eu-cookie-compliance-message {
  max-width: 39.75rem;

  @include min-screen($screen-desktop) {
    max-width: 60%;
  }
}

.eu-cookie-compliance-default-button {
  box-shadow: none;
  text-shadow: none;
  background-image: unset;
  margin-top: 0;
  margin-bottom: 0;

  &:hover {
    background-image: unset;
  }
}

#popup-buttons {
  margin-top: 1rem;
  margin-bottom: 0;
}


// List group flush

.list-group-flush {
  border-top: .0625rem solid $grey2;
  .list-group-item {
    padding: 1rem 0;
  }
}

// Icon

.icon-business {
  display: inline-block;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  line-height: 3rem !important;
  border-radius: 50%;
  background-color: $grey1;
  color: $BlueU;
  text-align: center;
}

$colors: ( grey: $grey1, orange: $orangeLight, green: $greenLight, blue: $blueLight, purple: $purpleLight, red: $redLight, yellow: $orangeLight );
@each $colorName, $color in $colors {
  .bg-#{$colorName} {
    background-color: $color;
  }

  .page-node-type-sequenced-page,
  .node--type-page {
    .paragraph--type--quote {
      &.border-#{$colorName} {
        &::before {
          background-color: $color;
        }
      }
    }
  }
}

// Primary local tasks.

.gin--vertical-toolbar.toolbar-horizontal.header-sticky {
  .navbar {
    top: 0;
  }
}

// Primary local tasks.

.user-logged-in .block-local-tasks-block {
  background: $grey1;
  display: inline-block;
  border-radius: 10px;
  margin-top: 1rem;

  a {
    color: $darkGrey;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border: none;
    background-color: transparent;
    font-weight: 800;
  }
}

.transparent-header.user-logged-in .block-local-tasks-block {
  z-index: 100;
  background: white;
  position: absolute;
  top: 240px;
}

.page-node-type-landing {
  &:not(.transparent-header) {
    #block-unesco-primary-local-tasks {
      padding-top: 122px;
    }
  }
}

li.icon-external a,
a.icon-external {
  &::after {
    @include icon('open_in_new');
    margin-left: 4px;
  }
}
