footer {
  padding: 2rem 1.5rem;
  @include min-screen($screen-tablet) {
    padding: 2rem;
  }
  @include min-screen($screen-desktop) {
    padding: 3rem 5.875rem;
  }

  .footer-top {
    margin-bottom: 3rem;
  }

  .footer {

    .region-footer {
      padding: 0;
      margin-left: -1rem;
      width: calc(100% + 2rem);

      .dropdown-toggle {
        border-top: 0.0625rem solid $grey2;
        padding: 1.5rem 0;
        font-size: .875rem;
        color: $darkGrey;
        font-weight: 600;
        cursor: pointer;
        &::after {
          font-size: 1.25rem;
        }

        @include min-screen($screen-tablet) {
          cursor: default;
          &::after {
            display: none;
          }
        }

        & + ul {
          list-style: none;
          padding: 0;

          @include max-screen($screen-tablet - 1px) {
            display: none;
          }

          @include min-screen($screen-tablet) {
            display: block !important;
          }

          .nav-item {
            margin-bottom: 1rem;
          }

          .nav-link {
            padding: 0;
            font-size: .875rem;
            font-weight: 500;
            color: $darkGrey;
          }
        }

        @include max-screen($screen-tablet - 1px) {
          &.is-active {
            &::after {
              transform: rotate(180deg);
            }
          }
        }
      }

      .nav-social--wrapper {
        margin-bottom: 1.5rem;

        .nav-social--title {
          border-top: 0.0625rem solid $grey2;
          padding: 1.5rem 0 1.25rem 0;
          font-size: .875rem;
          color: $darkGrey;
          font-weight: 600;
        }

        .field--name-field-social-networks {
          .field__item {
            margin-bottom: .875rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .region-footer-bottom {
      margin-top: 1rem;
      @include min-screen($screen-desktop) {
        margin-top: 2rem;
      }
      .field--name-field-baseline p {
        font-size: .875rem;
        font-weight: 400;
        color: $grey4;
      }
    }
  }
}

