header {
  padding: 2rem 3.625rem 1.5rem;

  .nav-link {
    font-size: 1.125rem;
    line-height: 2rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-item {
    padding: 0;
  }

  .site-name {
    p {
      margin: 0;
    }
  }

  .region-sub-header {
    align-items: center;
    position: relative;

    .menu--main,
    .dropdown {
      position: static;
    }
  }
}

.navbar-toggler-icon {
  width: 1.125rem;
  height: 0.75rem;
}

.navbar-dark {
  .navbar-toggler {
    background-color: $Blue2;
  }
}

.navbar-light {
  .navbar-toggler {
    background-color: $BlueU;
  }
}

.site-name {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 800;
  color: $navbar-dark-brand-color;
}

.region-header {
  justify-content: space-between;
}

.menu--main {
  justify-content: flex-end;

  .main-navigation {
    justify-content: flex-end;
  }
}

.btn-link {
  &.btn-link-white {
    color: $navbar-dark-color;
  }
}

.main-navigation {
  .dropdown-menu {
    top: calc(100% + 1.4rem);
    padding: 3.5rem;
    border: none;
    border-radius: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);

    &.show {
      display: flex;
    }

    .submenu-wrapper {
      margin: 0 -2.063rem;
      width: 100%;
    }

    .left-wrapper,
    .right-wrapper {
      padding: 0 2.063rem;
    }

    .left-wrapper {
      max-width: 28.5rem;

      @include max-screen($screen-tablet) {
        max-width: 100%;
      }

      .field--name-field-description {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        color: $navbar-dark-color;
        margin-bottom: $spacer * 1.5;
      }
    }
  }

  .menu-links {
    .menu-link {
      margin-bottom: 1rem;
    }
  }
}