// Space
$space-top: (
  null: 1rem,
  large: 1.5rem
);

$space-bottom: (
  null: 3.5rem,
  large: 6rem
);

.border-top {
  @include responsive(padding-top, $space-top);
  border-top: .0625rem solid $grey2;
  @include responsive(padding-bottom, $space-bottom);
}

.paragraph {
  position: relative;
  width: 100%;

  &--type--text-media-block {
    @extend .border-top;
    display: flex;
    flex-direction: column;

    .wrapper-infos {
      order: 1;
    }

    .wrapper-image {
      margin-bottom: 1rem;
      @include min-screen($screen-tablet) {
        margin-bottom: 1.5rem;
      }
      @include min-screen($screen-desktop) {
        margin-bottom: 0;
      }

      img, .field--type-image {
        width: 100%;
      }

      .media--legend,
      .media--copyright {
        font-size: .875rem;
        line-height: 1.4;
        font-weight: 400;
      }

      .media--legend {
        margin-top: .875rem;
        color: $grey5;
      }

      .media--copyright {
        color: $grey4;
      }
    }

    @include min-screen($screen-desktop) {
      flex-direction: row;
      .wrapper-image, .wrapper-infos {
        width: calc(50% - 1rem);
      }

      &.right {
        .wrapper-image {
          order: 0;
          margin-right: 1rem;
        }
        .wrapper-infos {
          order: 1;
          margin-left: 1rem;
        }
      }

      &.left {
        .wrapper-infos {
          order: 0;
          margin-right: 1rem;
        }
        .wrapper-image {
          order: 1;
          margin-left: 1rem;
        }
      }
    }

    .field--name-field-title {
      @include responsive(font-size, $section-title);
      font-weight: 800;
      line-height: 1.4;
      margin-bottom: 1rem;
    }

    .field--type-link {
      .field__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: .5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }

  }

  &--type--text-media-full {
    @include container-fluid;

    .field--name-field-slides {
      position: relative;
      width: 100%;
      height: 39rem;

      .slide {
        position: relative;
      }

      .wrapper-infos {
        position: absolute;
        width: calc(100% - 3rem);
        bottom: 6rem;
        max-width: 38rem;
        left: 1.5rem;
        z-index: 3;
        @include min-screen($screen-desktop) {
          left: 6rem;
          width: 100%;
        }

        .field--name-title {
          @include responsive(font-size, $full-media-title);
          font-weight: 800;
          color: $white;
          line-height: 1.4;
          margin-bottom: 1rem;
        }

        .field--name-field-text {
          color: $white;
        }
      }

      .wrapper-image {
        position: relative;
        height: 100%;

        .field--type-image {
          width: 100%;
          height: 100%;
        }
        picture {
          display: block;
          height: 39rem;
          width: 100%;
        }
        img {
          @include img-cover;
        }
        &::after {
          content: '';
          position: absolute;
          z-index: 1;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.4) 100%);
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }

        .media--copyright {
          position: absolute;
          right: 1.5rem;
          bottom: 1.5rem;
          z-index: 2;
          font-size: .75rem;
          font-weight: 400;
          opacity: .7;
          color: $white;
        }
      }

      .slick-dots {
        position: absolute;
        width: calc(100% - 3rem);
        left: 1.5rem;
        margin: 0;
        padding: 0;
        bottom: 4rem;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        li {
          width: 100%;
          max-width: 5rem;
          margin-right: .5rem;
          opacity: .5;
          transition: .3s;
          &:last-child {
            margin-right: 0;
          }
          &.slick-active {
            opacity: 1;
          }

          button {
            color: transparent;
            font-size: 0;
            width: 100%;
            height: .25rem;
            background-color: $white;
            outline: 0;
            border: 0;
            border-radius: .25rem;
          }
        }
      }
    }


    @include min-screen($screen-desktop) {
      .field--name-field-slides {
        height: 44rem;
        .wrapper-image picture {
          height: 44rem;
        }
      }
    }
  }

  &--type--banner-cta {
    position: relative;
    @include container-fluid;
    display: flex;
    flex-direction: column;
    background-color: $BlueU;

    margin-top: 4rem; // todo: a delete

    @include min-screen($screen-tablet) {
      flex-direction: row;
      align-items: stretch;
      min-height: 24.375rem;
    }

    @include min-screen($screen-desktop) {
      min-height: 37.125rem;
    }

    .banner-cta-texts {
      position: relative;
      z-index: 2;
      width: 100%;
      padding: 1.5rem;
      color: $white;
      &.border {
        border: .125rem solid $white!important;
        width: calc(100% - 3rem);
        margin: 2rem 1.5rem -3rem;
        padding: 1.5rem 1.5rem 6rem;
        @include min-screen($screen-tablet) {
          width: 100%;
          margin: 2rem -30% 2rem 2rem;
          padding: 2rem calc(30% + 2rem) 2rem 2rem;
        }
        @include min-screen($screen-desktop) {
          width: 60%;
          margin: 3rem -5rem 3rem 3rem;
          padding: 3.5rem 11.5rem 3.5rem 3.5rem;
        }
      }

      .banner-cta-title {
        color: $white;
        @include responsive(font-size, $full-media-title);
        max-width: 39rem;
      }

      .banner-cta-description {
        max-width: 39rem;
        margin-bottom: 1.5rem;
        @include min-screen($screen-desktop) {
          margin-bottom: 2rem;
        }
      }
    }

    .media--type-image {
      position: relative;
      width: 100%;
      overflow: hidden;

      .field--name-field-media-image {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
      }

      @include min-screen($screen-tablet) {
        width: calc(30% + 5rem);
        img {
          @include img-cover;
        }
        .field--name-field-media-image {
          position: absolute;
          height: 100%;
        }
      }
      @include min-screen($screen-desktop) {
        width: calc(40% + 2rem);
      }
    }

    &.position-full {
      position: relative;
      background-color: transparent;
      .media--type-image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba($darkGrey, .3);
          @include min-screen($screen-desktop) {
            background: linear-gradient(90deg, rgba($darkGrey, .3) 40%, rgba($darkGrey, 0) 85%);
          }
        }
        img {
          @include img-cover;
        }
      }
      .banner-cta-texts {
        position: relative;
        z-index: 2;
        &.border {
          border: .125rem solid $white!important;
          width: calc(100% - 3rem);
          margin: 2rem 1.5rem 6rem;
          padding: 1.5rem;
          @include min-screen($screen-tablet) {
            width: calc(100% - 4rem);
            margin: 2rem;
            padding: 2rem calc(30% + 2rem) 2rem 2rem;
          }
          @include min-screen($screen-desktop) {
            width: 60%;
            margin: 3rem;
            padding: 3.5rem 11.5rem 3.5rem 3.5rem;
          }
        }
      }
    }
  }

  &.display-see-more {
    align-items: start;

    .wrapper-infos {
      .field--name-field-links {
        margin-bottom: 1rem;
      }
    }

    .display_more-wrapper {
      overflow: hidden;
      text-overflow: ellipsis;
      transition: .6s ease;
    }
  }
}
