.main-node-content {
  .content-summary {
    position: relative;
    margin-bottom: 2rem;

    @include min-screen($screen-desktop) {
      position: absolute;
      left: -2rem;
      width: 10rem;
    }

    @include min-screen($screen-desktop-xl) {
      left: 0;
      width: 15rem;
    }

    .item-list {

      h3 {
        position: relative;
        font-size: .875rem;
      }

      ul {
        padding: 0;
        list-style: none;

        .summary-item {
          font-size: 0.875rem;
          padding-left: 1rem;
          margin-bottom: 1rem;
          margin-left: 0;
          position: relative;

          a {
            color: inherit;
            text-decoration: none;
          }

          &::before {
            content: "";
            display: inline-block;
            width: .313rem;
            height: .313rem;
            position: absolute;
            left: 0;
            top: .5rem;
            line-height: inherit;
            vertical-align: middle;
            border-radius: 50%;
            background-color: $grey3;
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            left: .1rem;
            top: 1.125rem;
            width: .125rem;
            height: 100%;
            background-color: $grey1;
          }

          &:last-child::after {
            display: none;
          }
        }
      }

      @include max-screen($screen-desktop - 1px) {
        width: 100%;
        padding: .875rem 1.5rem;
        border: .0625rem solid $grey2;
        background-color: $white;
        border-radius: 1.5rem;
        min-height: 3rem;

        h3 {
          position: relative;
          margin: 0;
          cursor: pointer;

          &::after {
            @include icon('expand_more');
            position: absolute;
            right: 0;
            top: -.125rem;
            text-transform: none;
            font-size: 1.25rem;
            color: $grey3;
          }

          &.active-item {
            &::after {
              transform: rotate(-180deg);
            }
          }
        }

        ul {
          margin-top: 1.5rem;
          display: none;
        }

      }

    }
  }
}
