$topHeaderMobileFixed: 4rem;
$topHeaderTabletFixed: 6.5rem;

header {
  .header,
  .sub-header {
    max-width: 83rem;
    margin-left: auto;
    margin-right: auto;

    @include min-screen($screen-desktop) {
      >.row {
        margin: 0;
      }
    }
  }

  &.navbar {
    .path-frontpage &,
    .page-node-type-homepage &,
    .page-node-type-hub &,
    .page-node-type-country & {
      position: absolute;
      z-index: 99;
      //@include transition(top);
      //transition-duration: 0.2s;

      transition: top, background-color .3s;

      @include max-screen($screen-desktop - 1) {
        position: absolute;
      }
    }
  }

  .btn-secondary .bg-primary {
    &:hover,
    &:focus {
      background-color: $Blue3;
      border-color: $Blue3;
    }
  }

  .transparent-header & {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 1;

    &.bg-primary {
      background-color: transparent !important;

      &:hover {
        background-color: $BlueU !important;

        .navbar-toggler {
          background-color: $Blue2;
          border-color: $Blue2;
        }

        .btn-secondary {
          background-color: $Blue2;
          border-color: $Blue2;
        }
      }

      .btn-secondary {
        background-color: $Blue2;
        border-color: $Blue2;

        &:focus,
        &:hover {
          background-color: $Blue3;
          border-color: $Blue3;
        }
      }
    }

    .btn-secondary {
      background-color: $BlueU;
      border-color: $BlueU;
    }
  }

  .transparent-header:not(.parent-menu-open) & {
    &.bg-primary:not(.header-mini-light) {
      @include min-screen($screen-desktop) {
        &:hover {
          &::after {
            opacity: 0;
          }
        }
      }
    }
  }

  &.bg-primary {
    .btn-secondary,
    .btn-secondary.is-active {
      background-color: $Blue2;
      border-color: $Blue2;

      &:focus,
      &:hover {
        background-color: $Blue3;
        border-color: $Blue3;
      }
    }
  }

  .parent-menu-open &,
  .transparent-header &,
  .header-with-line:not(.header-sticky) &,
  .path-countries:not(.header-sticky) & {
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 7rem);
      max-width: 83rem;
      height: 1px;
      background-color: $navbar-dark-color;
      transition: opacity .3s;

      @include max-screen($screen-desktop - 1) {
        width: calc(100% - 4.25rem);

        .menu-open & {
          position: fixed;
          z-index: 3;
          top: $topHeaderTabletFixed;
        }
      }

      @include max-screen($screen-tablet - 1) {
        width: calc(100% - 3rem);
        .menu-open & {
          top: $topHeaderMobileFixed;
        }
      }
    }

    @include max-screen($screen-desktop - 1) {
      .menu-open & {
        &::before {
          content: '';
          position: fixed;
          width: 100%;
          min-height: $topHeaderTabletFixed;
          background-color: $BlueU;
          left: 0;
          top: 0;
          z-index: 2;
        }
        .block-unesco-common-site-branding {
          position: fixed;
        }
        .navbar-toggler {
          position: fixed;
        }
      }
    }
    @include max-screen($screen-tablet - 1) {
      .menu-open & {
        &::before {
          min-height: $topHeaderMobileFixed;
        }
      }
    }
  }

  .dropdown-menu::before {
    content: "";
    position: absolute;
    display: none;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 7rem);
    max-width: 83rem;
    height: 1px;
    background-color: $navbar-dark-color;
    transition: opacity .3s;

    @include min-screen($screen-desktop) {
      display: block;
    }

    @include max-screen($screen-desktop - 1) {
      width: calc(100% - 4.25rem);
    }

    @include max-screen($screen-tablet - 1) {
      width: calc(100% - 3rem);
      .menu-open & {
        top: $topHeaderMobileFixed;
      }
    }
  }

  .header-sticky.transparent-header &,
  .parent-menu-open.transparent-header & {
    background-color: $BlueU !important;
  }

  &.navbar-light {
    background-color: $white;
  }

  &.navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2rem 3.5rem 1.5rem;
    width: 100vw;
    z-index: 99;

    .header-sticky &,
    .transparent-header.header-sticky & {
      padding: 0.75rem 3.625rem;
      position: fixed;
      left: 0;
      top: 0 !important;
      width: 100vw;
      z-index: 99;
      @extend %animated;
      @extend %slideInDown;
      animation-duration: 0.5s;
      transition: none;

      @include max-screen($screen-desktop - 1) {
        padding: 0.75rem 2.125rem 0.75rem;
        min-height: 3.5rem;
        max-height: $topHeaderMobileFixed;
      }

      @include max-screen($screen-tablet - 1) {
        padding: 1rem 1.5rem;
        min-height: $topHeaderMobileFixed;
      }
    }

    @include max-screen($screen-desktop - 1) {
      position: relative;
      padding: 1.5rem 2.125rem 1.5rem;
      align-items: flex-start;
      justify-content: flex-start;
      min-height: $topHeaderTabletFixed;

      .transparent-header & {
        position: absolute;
      }
    }

    @include max-screen($screen-tablet - 1) {
      padding: 1rem 1.5rem;
      flex-wrap: wrap;
      min-height: $topHeaderMobileFixed;
    }
  }

  .menu-open & {
    min-height: 100vh;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
    flex-wrap: nowrap;
    overflow-y: auto;
    padding-bottom: 2rem;

    //.block-unesco-commonlanguage-blocklanguage-interface {
    //  padding-bottom: 2rem;
    //}
  }

  .header {
    width: 100%;

    .navbar-toggler {
      position: absolute;
      top: 1.5rem;
      right: 2.125rem;

      .transparent-header & {
        background-color: $BlueU;
        border-color: $BlueU;
      }

      .transparent-header.header-sticky &,
      .transparent-header.menu-open & {
        background-color: $Blue2;
        border-color: $Blue2;
      }

      @include max-screen($screen-desktop - 1) {
        top: 2rem;
      }

      .header-sticky & {
        @include max-screen($screen-desktop - 1) {
          top: 0.75rem;
        }
      }

      @include max-screen($screen-tablet - 1) {
        top: 0.75rem;
        right: 1.5rem;
      }

      .parent-menu-open & {
        top: 0.75rem;
      }

      .menu-open &,
      .galaxy-menu-open & {
        z-index: 100;

        .navbar-toggler-icon {
          display: none;
        }

        &::after {
          @include icon('clear');
          font-size: 1.2rem;
          vertical-align: middle;
        }
      }
    }
  }

  .sub-header {
    width: 100%;

    .site-name-wrapper {
      padding-left: 0;
      position: static;

      .header-sticky & {
        display: none;
      }
    }

    @include max-screen($screen-desktop - 1) {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
    }
  }

  .nav-link {
    font-size: 1.125rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

    &.btn {
      font-size: 0.875rem;
      color: $white;
    }

    &:focus {
      outline: none;
    }
  }

  .menu-level-1 a {
    color: $navbar-dark-color;
  }

  .nav-item {
    padding: 0;
  }

  .block-unesco-search-menu-icon {
    width: 100%;
    margin-bottom: 1.5rem;
    display: none;

    .menu-open & {
      display: block;
    }

    @include min-screen($screen-desktop) {
      display: block;
      margin-top: 0.25rem;
      margin-bottom: -0.25rem;
      width: auto;
    }

    .header-sticky & {
      display: none;
    }

    .contextual {
      right: auto;
      left: 2rem;
    }
  }

  .search-menu-icon {
    color: $white;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    position: relative;
    padding-right: 2.5rem;

    @include min-screen($screen-desktop) {
      padding: 0 1rem;
      font-size: 0;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }

    &::after {
      @include icon('search');
      font-size: 1.5rem;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .site-name-wrapper {

    a {
      text-decoration: none;
    }

    &+div {
      @include min-screen($screen-desktop) {
        margin-left: auto;
      }
    }
  }

  .site-name {
    &, &p {
      margin: 0;
    }

    .header-sticky & {
      display: none;
    }

    @include max-screen($screen-desktop - 1) {
      display: none;
    }
  }

  .block-unesco-common-site-branding {
    >a {
      display: block;
    }

    @include max-screen($screen-desktop - 1) {
      position: absolute;
      top: 1.5rem;
      left: 2.125rem;
      padding: 0;
      width: auto;
      z-index: 3;
    }

    .site-logo {
      max-width: 9.375rem;
    }

    .site-name {
      display: none;
    }

    .header-sticky & {

      >a {
        display: flex;
        align-items: center;
      }

      img {
        margin-right: 1rem;
      }

      @include max-screen($screen-desktop - 1) {
        top: 1rem;
      }

      .site-name {
        display: block;
        font-size: 0.875rem;

        @include max-screen($screen-tablet - 1) {
          display: none;
        }

        @include max-screen($screen-desktop - 1) {
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          white-space: nowrap;
          line-height: 1;
        }
      }
    }

    @include max-screen($screen-tablet - 1) {
      top: 1rem;
      left: 1.5rem;
    }
  }

  .region-header {
    align-items: center;

    @include max-screen($screen-desktop - 1) {
      margin: 0;
      padding: 0;
      align-items: flex-start;
    }

    button,
    a {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

  .region-sub-header {
    align-items: center;
    position: relative;

    @include max-screen($screen-desktop - 1) {
      margin: 0;
    }

    .menu--main,
    .dropdown {
      position: static;
    }

    .site-name {
      position: absolute;
      width: calc(100% - 4rem);
      max-width: 15rem;
      @include min-screen($screen-tablet) {
        max-width: none;
      }
      @include min-screen($screen-desktop) {
        position: relative;
      }
      @include max-screen($screen-desktop - 1) {
        top: 2.5rem;
        left: 0;
        display: block;

        .header-sticky & {
          display: none;
        }
      }

      @include max-screen($screen-tablet - 1) {
        font-size: 0.875rem;
        line-height: 1.125rem;
        display: inline-block;
      }
    }
  }

  .menu-level-0 {
    >.nav-item {
      @include max-screen($screen-desktop - 1) {
        margin-bottom: 1.5rem;
      }

      >.nav-link {
        position: relative;
        cursor: pointer;

        @include max-screen($screen-desktop - 1) {
          font-size: 1.5rem;
          line-height: 2rem;
          font-weight: 400;
          display: inline-block;

          &.dropdown-toggle {
            white-space: normal;

            &::after {
              content: "chevron_right";
            }
          }

          &.btn-small {
            font-size: 0.875rem;
            padding-left: 1rem;
            padding-right: 1rem;
          }
        }

        &:focus,
        &:hover {
          @include min-screen($screen-desktop) {
            &::before {
              content: "";
              display: block;
              position: absolute;
              left: 1rem;
              bottom: -1.625rem;
              width: calc(100% - 2rem);
              height: 0.25rem;
              background-color: $navbar-dark-color;
            }
          }
        }

        &.btn {
          @include min-screen($screen-tablet) {
            margin-left: 1rem;

            .menu-open & {
              margin-left: 0;
            }
          }

          &:focus::before,
          &:hover::before {
            display: none;
          }
        }
      }

      &.show {
        >.nav-link {
          @include min-screen($screen-desktop) {
            &::before {
              content: "";
              display: block;
              position: absolute;
              left: 1rem;
              bottom: -1.625rem;
              width: calc(100% - 2rem);
              height: 0.25rem;
              background-color: $navbar-dark-color;
            }
          }
        }

        .dropdown-toggle::after {
          content: "expand_less";
        }
      }
    }

    .parent-menu-open & {
      @include max-screen($screen-desktop - 1) {
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $BlueU;
        z-index: 99;
        padding: 1.25rem 2.125rem 1.5rem;

        >.nav-item {
          display: none;

          &.show {
            display: block;
            max-width: 100%;

            >.nav-link {
              font-size: 1.125rem;
              line-height: 1.5rem;
              text-align: center;
              padding: .3rem 3rem 0;
              position: relative;
              margin-bottom: 1.2rem;
              -webkit-line-clamp: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;

              &::before {
                content: '';
                position: fixed;
                width: calc(100vw - 3rem);
                height: .0625rem;
                left: 50%;
                transform: translateX(-50%);
                top: $topHeaderMobileFixed;
                background-color: $navbar-dark-color;
                z-index: 4;
              }

              &::after {
                position: absolute;
                left: 0;
                top: 0;
                margin: 0;
                transform: rotate(-90deg);
                font-size: 2rem;
              }
            }
          }
        }
      }

      @include max-screen($screen-tablet - 1) {
        padding: 1rem 1.5rem;
      }
    }
  }
}

.navbar-toggler-icon {
  width: 1.125rem;
  height: 0.75rem;
}

.navbar-dark,
.navbar-light,
.bg-primary {
  .logo-dark {
    display: none;
  }
  .navbar-toggler {
    background-color: $Blue2;
  }

  .navbar-brand {
    padding: 0;

    img {
      filter: none;
      height: 2rem;

      @include max-screen($screen-desktop - 1) {
        width: 16.375rem;
        height: auto;

        .menu-open & {
          width: auto;
          height: 2rem;
        }
      }

      @include max-screen($screen-tablet - 1) {
        width: auto;
        height: 2rem;
      }

      .header-sticky & {
        max-width: 9.313rem;
        height: auto;
      }
    }
  }
}

.navbar-light {
  .navbar-toggler {
    background-color: $BlueU;
  }
}

.site-name {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 800;
  color: $navbar-dark-brand-color;
  margin-bottom: 0;
  @include min-screen($screen-tablet) {
    padding: .5rem 0;
  }
  @include min-screen($screen-desktop) {
    padding: 0;
  }

}

.region-header {
  justify-content: space-between;
}

.menu--main {
  justify-content: flex-end;

  .main-navigation {
    justify-content: flex-end;
    max-width: 100%;
    transition: all 0.2s ease-in-out;
    line-height: 2rem;

    @include max-screen($screen-desktop - 1) {
      transition: none;
      margin-top: calc(#{$topHeaderTabletFixed} + 1rem);
    }

    @include max-screen($screen-tablet - 1) {
      margin-top: calc(#{$topHeaderMobileFixed} + 1rem);
    }

    .header-sticky & {
      display: none !important;
    }

    .menu-open.header-sticky & {
      display: block !important;
    }
  }

  ul.menu {
    margin-left: 0;
  }
}

.menu--secondary {
  margin-left: auto;

  .nav-link {
    @include min-screen($screen-desktop) {
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include max-screen($screen-desktop - 1) {
    display: none;
    margin-left: 0;


    li {
      .nav-link {
        padding: 0;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }

  .menu-open & {
    @include max-screen($screen-desktop - 1) {
      display: block;
    }
  }
}

.btn-link {
  &.btn-link-white {
    color: $navbar-dark-color;
  }
}

.main-navigation {
  .dropdown-menu {
    top: calc(100% + 1.39rem);
    padding: 3.5rem 3.625rem;
    border: none;
    border-radius: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);

    &.show {
      display: flex;
      @extend %animated;
      @extend %fadeIn;
      animation-duration: 0.5s;

      @include max-screen($screen-desktop - 1) {
        animation-name: none;
      }
    }

    @include max-screen($screen-desktop - 1) {
      position: static;
      padding: 2rem 0 2rem 0;
      transform: none;
      overflow: auto;
      height: calc(100vh - #{$topHeaderMobileFixed});
    }

    .submenu-wrapper {
      margin: 0 -2.063rem;
      width: 100%;

      @include max-screen($screen-desktop - 1) {
        margin: 0 -1rem;
      }

      @include max-screen($screen-tablet - 1) {
        display: inline-block;
        height: fit-content;
      }
    }

    .left-wrapper,
    .right-wrapper {
      padding: 0 2.063rem;
    }

    .right-wrapper {
      .menu-level-1 {

        @include max-screen($screen-desktop - 1) {
          flex-direction: row;
          justify-content: flex-start;
        }
      }
    }

    .left-wrapper {
      max-width: 28.5rem;

      @include max-screen($screen-desktop - 1) {
        max-width: 100%;
      }

      .field--name-field-description {
        font-size: 1.375rem;
        line-height: 2rem;
        font-weight: 600;
        color: $navbar-dark-color;
        margin-bottom: 1.5rem;
      }
    }
  }

  .menu-links {
    .menu-link {
      margin-bottom: 1rem;
    }
  }
}

.block-unesco-commonlanguage-blocklanguage-interface {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;

  .dropdown-toggle {
    &::after {
      font-size: 1.5rem;

      @include min-screen($screen-desktop) {
        margin-right: -0.313rem;
      }
    }
  }

  .dropdown-menu::before {
    display: none;
  }

  @include min-screen($screen-desktop) {
    padding-right: 0;
    flex: unset;
    width: unset;
    min-width: fit-content;
  }

  .header-sticky & {
    display: none;
  }

  @include max-screen($screen-desktop - 1) {
    justify-content: flex-start;
    display: none;
    padding: 0;

    .menu-open & {
      display: flex;
    }
  }

  .btn-link {
    padding: 0;

    @include max-screen($screen-desktop - 1) {
      display: block;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .dropdown-menu {
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    @include max-screen($screen-desktop - 1) {
      position: static;
      background-color: inherit;
      border: none;
    }
  }

  .language-switcher-language-url {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      @include max-screen($screen-desktop - 1) {
        margin-bottom: 1rem;
      }

      a {
        font-size: 0.875rem;
        line-height: 2rem;
        font-weight: 400;
        color: $grey4;

        @include max-screen($screen-desktop - 1) {
          font-size: 1rem;
          line-height: 1.5rem;
          color: rgba($navbar-dark-color, 0.4);
        }

        &:focus,
        &:hover {
          text-decoration: none;
          color: $darkGrey;

          @include max-screen($screen-desktop - 1) {
            color: $navbar-dark-color;
          }
        }

        &.is-active {
          color: $darkGrey;

          @include max-screen($screen-desktop - 1) {
            color: $navbar-dark-color;
          }
        }
      }
    }
  }
}

header {
  // Submenus styles
  .big {
    &.dropdown-menu {
      @include max-screen($screen-desktop - 1) {
        width: auto;
      }
    }

    .nav-link {
      display: none;
    }

    .menu-level-1 {
      margin: 0 -.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;

      @include min-screen($screen-tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(100% + 1rem);
      }

      @include min-screen($screen-desktop) {
        margin: 0 -.75rem;
        width: calc(100% + 1.5rem);
      }

      li {
        width: 100%;
        margin-bottom: 1rem;

        @include min-screen($screen-tablet) {
          padding: 0 .5rem;
          max-width: 25%;
        }

        @include min-screen($screen-desktop) {
          padding: 0 .75rem;
          margin-bottom: 1.5rem;
        }

        transition: all .3s ease-in-out;

        &:focus,
        &:hover {
          transform: scale(1.1);
        }

        @include max-screen($screen-tablet - 1) {
          max-width: 100%;
          width: 100%;

          img {
            width: 100%;
            max-width: unset;
          }
        }
      }
    }

    .submenu-wrapper {
      max-width: 87.126rem;
      margin: 0 auto !important;

      @include max-screen($screen-desktop - 1) {
        max-width: 100%;

        .left-wrapper,
        .right-wrapper {
          padding: 0;

          .main-navigation {
            margin-top: 2.375rem;
          }
        }
      }
    }
  }

  .horizontal,
  .report {
    .nav-link {
      display: none;
    }

    .submenu-wrapper {
      max-width: 87.126rem;
      margin: 0 auto !important;
      overflow: hidden;

      @include max-screen($screen-desktop - 1) {
        display: block;
      }

      @include min-screen($screen-desktop) {
        flex-wrap: nowrap;
      }

      .right-wrapper {
        @include min-screen($screen-desktop) {
          margin-left: auto;
          flex: 0 0 100%;
          max-width: 100%;
        }

        .main-navigation {
          @include max-screen($screen-tablet - 1) {
            margin-top: 0;

            li {
              margin-bottom: 1.5rem;
              padding: 0;

              img {
                display: none;
              }
            }
          }
        }

        @include max-screen($screen-tablet - 1) {
          article {
            .node__content {
              .field--name-field-ref-image {
                display: none;
              }
            }
          }
        }
      }

      .left-wrapper +.right-wrapper {
        @include min-screen($screen-desktop) {
          flex: 0 0 75%;
          max-width: 75%;
        }
      }

      .left-wrapper,
      .right-wrapper {
        @include max-screen($screen-tablet - 1) {
          padding: 0;
        }
      }
    }

    .menu-level-1 {
      display: block;
      margin: 0;
      overflow: hidden;

      .slick-list {
        margin: 0 -1rem;

        @include min-screen($screen-desktop) {
          padding-right: 10% !important;
        }
      }

      li {
        padding: 0 1rem;
      }
    }

    .slick-slider {
      position: relative;
      width: 100%;

      .field--name-field-media-image {
        width: 100%;

        img {
          width: 100%;
          max-width: unset;
        }
      }

      .submenu-text {
        display: block;
        font-size: $font-size-lg;
        line-height: 1.33;
        font-weight: 600;
        margin-top: 1rem;
        color: $white;

        @include max-screen($screen-tablet - 1) {
          font-size: 1rem;
          line-height: 1.5rem;
          font-weight: 400;
        }
      }
    }

    .slick-arrow {
      font-size: 0;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      border: none;
      background-color: $grey1;
      text-align: center;
      position: absolute;
      top: 32%;
      right: 1rem;
      z-index: 3;

      &::after {
        @include icon('chevron_right');
        font-size: 1.2rem;
        color: $grey4;
      }

      &:hover {
        &::after {
          color: $darkGrey;
        }
      }

      &:focus {
        border: 2px solid $LightBlue;
        outline: none;

        &::after {
          color: $grey4;
        }
      }

      &:active {
        border: none;
        outline: none;

        &::after {
          color: $grey3;
        }
      }

      &.slick-disabled {
        display: none !important;
      }

      &.slick-prev {
        right: auto;
        left: 1rem;

        &::after {
          content: "chevron_left";
        }
      }
    }
  }

  .horizontal {
    @include min-screen($screen-desktop) {
      display: block !important;
      opacity: 0 !important;
      transition: opacity 0.5s ease-in-out;
      pointer-events: none;
    }
  }

  .show {
    .report {
      @include max-screen($screen-desktop - 1) {
        &.show {
          width: auto;
        }
      }
    }

    .horizontal {
      @include min-screen($screen-desktop) {
        opacity: 1 !important;
        pointer-events: unset;
      }
    }
  }

  .normal {
    &.dropdown-menu {
      @include max-screen($screen-desktop - 1) {
        width: auto;

        .left-wrapper,
        .right-wrapper {
          padding: 0;
        }
      }
    }

    .right-wrapper >.main-navigation >.menu-level-1 {
      display: flex;
      margin: 0 -1rem;
      justify-content: flex-start;
      width: 100%;

      >li {
        padding: 0 1rem;
        width: 33.33%;
        max-width: 18.75rem;
        margin-bottom: 1.5rem;

        @include max-screen($screen-tablet - 1) {
          width: 100%;
        }

        > a,
        > span {
          font-size: $font-size-base;
          line-height: 1.5rem;
          font-weight: 600;
          margin-bottom: 1.5rem;
          white-space: normal;

          &.dropdown-toggle::after {
            display: none;
          }
        }

        .nav-item {
          margin-bottom: 1.5rem;

          .nav-link {
            font-size: 0.875rem;
            line-height: 1.5rem;
            font-weight: 400;
          }
        }
      }

      .level-1-submenu {
        >a,
        >span {
          display: none;
        }

        .navbar-nav,
        .main-navigation {
          display: block !important;
          margin: 0;
        }
      }
    }

    .submenu-wrapper {
      max-width: 87.126rem;
      margin: 0 auto !important;
    }

    .main-navigation {
      @include max-screen($screen-desktop - 1) {
        margin-top: 3rem;
      }
    }
  }
}

.submenu-big {
  position: relative;
  display: block;
  min-height: 0;
  height: auto;

  .submenu-text {
    padding: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: $white;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }

  &.card {
    img {
      width: 100%;
    }
  }
}

.navbar-light {
  .navbar-nav .nav-link {
    &.btn {
      color: $white;
    }
  }
}

.header-sticky {
  padding-top: 3.5rem;

  @include max-screen($screen-tablet - 1) {
    padding-top: 4rem;
  }

  header::after {
    display: none;
  }
}

.transparent-header.header-sticky {
  padding-top: 0;
}

.transparent-header.menu-open header.bg-primary {
  background-color: $BlueU !important;
}

// White header on sticky
header.header-mini-light {
  display: block;

  @include max-screen($screen-desktop - 1) {
    .menu-open & {
      display: flex;
    }
  }
  .content-menu-sticky {
    display: none;
  }
}

.header-sticky header.header-mini-light.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: $white !important;
  flex-direction: row;
  max-width: 85.5rem;
  height: 4rem;
  width: 100%;
  left: 50%;
  @extend %slideInDownWhite;
  @include min-screen($screen-tablet) {
    height: 3.5rem;
  }

  &:hover {
    background-color: $white !important;
  }

  @include min-screen($screen-desktop) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &::after {
    content: "";
    display: block;
    height: 4rem;
    width: 100vw;
    max-width: 100vw;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: $white;
    z-index: -1;
    border-bottom: 1px solid $grey2;

    @include min-screen($screen-tablet) {
      height: 3.5rem;
    }
  }

  .header,
  .sub-header {
    width: 100%;
    margin: 0;
  }

  .header {
    .region-header {
      margin: 0;
    }
  }

  .sub-header {
    margin-left: auto;
    order: 1;

    .region-sub-header {
      margin: 0;
    }
  }

  @include min-screen($screen-desktop) {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .site-name-wrapper a {
    img {
      display: none;
    }

    .logo-dark {
      display: block;
      width: 9.375rem;
      height: 2rem;
      background-image: url('../images/logo-blue.svg');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      margin-right: 1rem;
      flex-shrink: 0;
    }

    .site-name {
      width: 100%;
    }
  }

  .header {
    display: flex;
    align-items: center;
  }

  .block-unesco-common-site-branding {
    flex: unset;
    width: auto;
    padding-left: 0;
  }

  .site-name {
    color: $navbar-light-color;
  }

  .content-menu-sticky {
    margin-left: auto;
    display: block;

    @include min-screen($screen-desktop) {
      margin-right: 2rem;
    }

    a {
      font-size: 0;

      @include min-screen($screen-desktop) {
        font-size: 0.875rem;
        line-height: 1.5rem;
        font-weight: 600;
      }
    }

    .field--name-field-header-cta {
      display: none;

      @include min-screen($screen-desktop) {
        display: flex;
        margin: 0 -1rem;
      }

      >div {
        padding: 0 1rem;
      }

      a {
        text-decoration: none;
        position: relative;
        display: flex;
      }
    }

    >div,
    >div >div {
      display: flex;
      align-items: center;
    }

    .sticky-share {
      font-size: 1rem;
      position: relative;
      z-index: 1;
      text-decoration: none;

      span {
        font-size: 0;

        @include min-screen($screen-desktop) {
          font-size: 0.875rem;
        }
      }

      i {
        font-size: 0;

        &::before {
          display: inline-block;
          color: inherit;
          font-size: 1rem;

          @include min-screen($screen-desktop) {
            margin-right: 2rem;
            font-size: 0.625rem;
            line-height: 1.5rem;
            margin-left: 0.5rem;
          }
        }
      }
    }

    .addthis_toolbox {
      max-width: 0;
      padding: 0;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      background-color: $white;
    }

    &.open-share {
      .addthis_toolbox {
        max-width: 21rem;
        margin-right: 2rem;
        z-index: 9;
      }

      .sticky-share {
        background-color: $white;

        .icon-share::before {
          @include icon('clear');
          font-family: 'Material Icons Sharp' !important;
        }
      }
    }
  }

  .navbar-toggler {
    display: none;
  }
}

.navbar-toggler {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  .menu--secondary,
  .menu--galaxy-menu {
    .header-sticky & {
      display: none;
    }
  }
}

.menu-open {
  &, body {
    @include max-screen($screen-desktop - 1) {
      height: 100vh;
      overflow: hidden;
    }
  }

  .sub-header {
    .site-name {
      position: fixed;
      z-index: 3;
      left: 1.5rem;
      top: 3.5rem;

      @include min-screen($screen-tablet) {
        left: 2.125rem;
        top: 4rem;
      }
      @include max-screen($screen-desktop - 1) {
        width: calc(100% - 8.25rem);
      }
      @include min-screen($screen-desktop) {
        position: relative;
        left: 0;
        top: 0;
      }
    }
  }
}

// UNESCO portail header.
.portail-unesco {
  header {
    .block-unesco-common-site-branding {
      a {
        .site-logo {
          @include min-screen($screen-tablet) {
            max-width: 16.375rem;
          }
        }
      }
    }

    .region-sub-header {
      .site-name-wrapper {
        display: none;
      }
    }

    &.navbar {
      @include max-screen($screen-tablet - 1) {
        //min-height: 4rem;
      }
    }
  }

  &.header-sticky {
    header {
      .block-unesco-common-site-branding {
        @include min-screen($screen-tablet) {
          top: 0.75rem;
          position: static;
        }

        a {
          @include min-screen($screen-desktop) {
            position: static;
          }


          .site-logo {
            max-width: 9.375rem;
          }
        }

        .site-name {
          display: none;
        }
      }

      .menu--galaxy-menu {
        @include max-screen($screen-tablet -1) {
          display: none;
        }

        @include min-screen($screen-tablet) {
          display: block;
          width: auto;
          margin-left: auto;
          padding-top: 0.375rem;
        }
      }

      .header .navbar-toggler {
        @include min-screen($screen-tablet) {
          display: none;
        }
      }
    }

    header.header-mini-light {
      .menu--galaxy-menu {
        @include min-screen($screen-tablet) {
          display: none;
        }
      }
    }
  }
}

.galaxy-menu-open .portail-unesco {
  .menu--galaxy-menu {
    @include max-screen($screen-desktop - 1) {
      display: block;
    }
  }
}

.galaxy-menu-open {
  header.navbar {
    transform: none !important;
  }
}

// satellite page header
.site-satellite:not(.header-sticky),
.portail-unesco {
  @include min-screen($screen-desktop) {
    header {
      .block-unesco-common-site-branding {
        a {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;

          .site-logo {
            max-width: 16.375rem;
          }
        }
      }

      .region-header {
        position: relative;
        align-items: flex-start;
      }

      .region-sub-header {
        flex-wrap: wrap;

        .site-name-wrapper {
          width: 100%;
          margin-top: 0.8rem;
          order: 2;
        }

        >.menu--main >.main-navigation {
          max-width: calc(100% - 16.375rem);
          margin-top: 0.25rem;
          margin-bottom: -0.25rem;

          >ul.menu {
            justify-content: flex-end;
          }
        }
      }

      .menu--main {
        .menu-level-0 > .nav-item > .nav-link:focus::before,
        .menu-level-0 > .nav-item > .nav-link:hover::before {
          bottom: -1.375rem;
        }
      }

      .site-name-wrapper {
        & +.menu--main {
          .menu-level-0 > .nav-item > .nav-link:focus::before,
          .menu-level-0 > .nav-item > .nav-link:hover::before,
          .menu-level-0 > .nav-item.show .nav-link::before {
            bottom: 0;
            height: 1px;
          }

          .dropdown-toggle {
            &::before {
              width: calc(100% - 3.625rem);
            }
          }
        }
      }
    }
  }
}

.site-satellite.header-sticky {
  header {
    .block-unesco-common-site-branding {
      @include max-screen($screen-desktop - 1) {
        width: 100%;
        max-width: calc(100% - 8.5rem);
      }
    }
  }
}

@include min-screen($screen-desktop) {
  .menu--galaxy-menu {
    .button-galaxy {
      margin-right: 1rem;
    }
  }
}
