html[dir="rtl"] {
  body {
    text-align: right;

    * {
      direction: rtl;
    }
  }

  .toolbar-oriented .toolbar-bar .toolbar-tab, 
  .toolbar-oriented .toolbar-tray-horizontal li {
    float: left;
  }

  .toolbar-horizontal .toolbar-tray > .toolbar-lining {
    padding-left: 0;
    padding-right: 5em;
  }

  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    @media only screen and(min-width: 36em) {
      padding-right: 1.3333em;
      padding-left: 2.75em;
      background-position: left center;

      &::before {
        right: auto;
        left: 0.6667em;
        width: 20px;
      }
    }
  }

  .toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation {
    left: auto;
    right: 0;
  }

  // satellite page header
  .site-satellite:not(.header-sticky) {
    @include min-screen($screen-desktop) {
      header {
        .block-unesco-common-site-branding {
          a {
            left: auto;
            right: 0;
            top: 0;
          }
        }
      }
    }
  }

  .header-sticky header {
    &.header-mini-light .site-name-wrapper a::before {
      margin-right: 0;
      margin-left: 1rem;
    }

    .block-unesco-common-site-branding img {
      margin-right: 0;
      margin-left: 1rem;
    }
  }

  header {
    .site-name {
      text-align: right;
    }

    .block-unesco-common-site-branding {
      @include max-screen($screen-tablet - 1) {
        left: auto;
        right: 1.5rem;
      }
    }

    .menu--secondary {
      @include min-screen($screen-desktop) {
        margin-left: 0;
        margin-right: auto;
      }

      .navbar-nav {
        padding-right: 0;

        .nav-link {
          @include max-screen($screen-tablet - 1) {
            padding: 0;
          }
        }
      }
    }

    .header .navbar-toggler {
      right: auto;
      left: 2.125rem;

  
      @include max-screen($screen-tablet - 1) {
        left: 1.5rem;
        right: auto;
      }
    }

    .region-sub-header .site-name {
      @include max-screen($screen-desktop - 1) {
        right: 1rem;
        left: auto;
      }
    }
  }

  .header-landing .media--view-mode-banner .field--name-field-copyright, 
  .header-homepage .media--view-mode-banner .field--name-field-copyright {
    right: auto;
    left: 2.5rem;
  }

  .block-unesco-commonlanguage-blocklanguage-interface .dropdown-menu {
    text-align: right;
  }

  #back-top {
    left: 2rem;
    right: auto;

    a::after {
      margin-left: 0;
      margin-right: 0.75rem;
    }
  }

  .footer {
    .navbar-nav {
      @include max-screen($screen-tablet - 1) {
        padding-inline-start: 0;
      }
    }
  }

  .rich-text {
    ol {
      li {
        &::before {
          display: none;
        }
        &::after {
          content: counter(custom) " ";
          position: absolute;
          right: -1.375rem;
          font-size: 1.125rem;
          color: $BlueU;
          font-weight: 600;
        }
      }
    }
  
    a {
      border-bottom: .0625rem solid $BlueU;
      transition: $btn-transition;
      &:hover {
        color: $Blue2;
        border-bottom: .0625rem solid $Blue2;
        text-decoration: none;
      }
    }
  
    strong {
      font-weight: 600;
    }
  
    u {
      border-bottom: 0.0625rem solid $darkGrey;
      text-decoration: none;
    }

    ul {
      direction: rtl;
    }
  }

  .vocabulary-people .wrap .field--name-field-image {
    margin-right: 0;
    margin-left: 1.5rem;
  }

  // Articles styles.
  .node--type-article.node--view-mode-full .header-node-content .section-text.is-arrow {
    text-align: right;
    
    span::after {
      display: none;
    }

    span::after {
      @include icon('chevron_left');
      display: inline;
      vertical-align: bottom;
      margin-right: .5rem;
      line-height: 1.2;

      @include min-screen($screen-desktop) {
        margin-right: 1rem;
      }
    }
  }

  .content-authors-wrapper {
    .authors-image-wrapper,
    .content-date-wrapper {
      flex-direction: row-reverse;
    }
  }

  // Buttons
  .btn {
    direction: rtl;

    &::after {
      transform:scale(-1);
      margin-right: .875rem;
      margin-left: 0;
    }
  }

  .main-node-content .content-summary .item-list ul {
    .summary-item {
      padding-left: 0;
      padding-right: 1rem;
      margin-right: 0;

      &::before,
      &::after {
        left: auto;
        right: 0;
      }
    }
  }

  // Paragraphs styles.
  .paragraph--type--cta {
    .cta-media-wrapper {
      @include min-screen($screen-tablet) {
        margin-left: 0;
        margin-right: 1.5rem;
      }
    }
  }

  .field--name-field-ref-cta {
    .arrow-black::after, 
    .arrow-primary::after, 
    .card-arrow::after {
      content: "arrow_back";
    }
  }

  .paragraph--type--document {
    .document-wrapper .document-infos .document-actions .btn {
      margin-right: 0;
      margin-left: 1rem;
    }
  }

  .paragraph--type--text-media-full {
    left: auto;
    right: 50%;
    transform: translateX(50%);
  }
}