.media--type-audio.media--view-mode-medium {
  .field--name-field-media-image + .field--name-field-media-audio-file {
    display: none;
  }

  .field--name-field-media-image .metadata {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    color: $Blue2;
    font-weight: bold;
  }

  .icons--audio {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1.5rem);
    color: $white;
    background-color: $Blue2;
    padding: 1.2rem 1.3rem;
    border-radius: 50%;
    cursor: pointer;
  }
}

.icons--audio .hidden {
  display: none;
}