.media--type-audio.media--view-mode-medium {
  .field--name-field-media-image + .field--name-field-media-audio-file {
    display: none;
  }

  .field--name-field-media-image .metadata {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: $Blue2;
    font-size: 0.85rem;
    font-weight: bold;
    z-index: 10;
  }

  .icons--audio {
    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 1.5rem);
    color: $white;
    background-color: $Blue2;
    padding: 1.2rem 1.3rem;
    border-radius: 50%;
    cursor: pointer;

    .material-icons-sharp {
      font-size: 2rem;
      line-height: 1.25;
    }
  }
}

.icons--audio .hidden {
  display: none;
}