$paddingTop: (
  null: 2.5rem,
  large: 6rem
);

.node--type-sequenced-page {
  &.node--view-mode-full {
    position: relative;

    >.node__content {
      padding-top: 2.5rem;
      @include responsive(padding-top, $paddingTop);
    }

    .header-hub {
      margin-bottom: 0;
    }
  }

  .paragraph {

    .field--name-field-title {
      @include responsive(font-size, $section-title-small);
      font-weight: 600;
      margin-bottom: .5rem;
      @include min-screen($screen-tablet) {
        margin-bottom: 1rem;
      }
    }

  }

}

.field--name-field-copyright,
.media-copyright,
.media--copyright {
  &::before {
    content: '\00A9';
    margin-right: .25rem;
  }
}
