$paddingTop: (
  null: 2.5rem,
  large: 3.5rem
);
$story-item-description: (
  null: 1.5rem,
  large: 2rem
);

.node--type-article {
  &.node--view-mode-full {
    position: relative;

    .node__content {
      display: flex;
      flex-direction: column;

      .main-node-content {
        width: 100%;
        max-width: 38.125rem;
        margin: 0 auto;
      }
    }

    >.node__content {
      padding-top: 2.5rem;
      @include responsive(padding-top, $paddingTop);
    }

    .rich-text p {
      line-height: 1.75;

      @include min-screen($screen-desktop) {
        line-height: 1.67;
      }
    }

    .header-node-content {
      margin: 0 auto 2.5rem;
      width: 100%;
      max-width: 38.125rem;

      .section-text {
        position: relative;

        &.is-arrow {
          span::after {
            @include icon('chevron_right');
            display: inline;
            vertical-align: bottom;
            margin-left: .5rem;
            line-height: 1.2;

            @include min-screen($screen-desktop) {
              margin-left: 1rem;
            }
          }
        }

        a {
          color: inherit;
          &:hover {
            text-decoration: none;
            color: inherit;
          }
        }

      }

      .article-title,
      .field--name-field-description {
        width: 100%;
        @include min-screen($screen-desktop) {
          width: 51.5rem;
        }
      }

      .content-authors-wrapper {

        .authors-image-wrapper {
          display: flex;
          align-items: center;
          margin: -.5rem -.5rem .5rem;

          .field--name-field-image {
            margin: .5rem;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            overflow: hidden;

            img {
              @include img-cover;
            }
          }

        }

        .authors-text-wrapper {

          * {
            display: inline;
          }

          .people-link-name {
            display: inline;
            color:  $darkGrey;
            font-weight: 600;

            &::after {
              content: ',';
              margin-left: -.21rem;
            }

            &:last-child {
              &::after {
                display: none;
              }
            }

            a {
              position: relative;
              color: $darkGrey;

              &:hover {
                text-decoration: none;
                color:  $darkGrey;
              }

              &::before {
                content: '';
                left: 0;
                bottom: 0;
                position: absolute;
                width: calc(100% - 0.25rem);
                height: .0625rem;
                background-color: $darkGrey;
              }
            }
          }

        }

      }

    }

    .main-node-content {
      .media-wrapper {
        .media--view-mode-full-size {
          position: relative;
          width: 100vw;
          height: 13.25rem;
          left: 50%;
          transform: translateX(-50%);

          .field--name-field-media-image {
            height: 100%;
          }

          @include min-screen($screen-tablet) {
            height: 31.5rem;
          }

          @include min-screen($screen-desktop) {
            height: 51rem;
          }
        }

        .media-footer.fullsize {
          padding: 0;
        }
      }
    }


  }
}

.node--type-article {
  &.node--view-mode-report,
  &.node--view-mode-detail,
  &.node--view-mode-idea {

    .header-node-content {
      background-color: $BlueU;
      padding: 2.5rem 0;
      @include fullWidthBackground($BlueU);
      margin: -2.5rem auto 2.5rem;
      color: $white;
      @include min-screen($screen-desktop) {
        padding: 6rem 0;
        margin: -3.5rem auto 3.5rem;
      }
      &::before,
      &::after {
        z-index: -1;
      }

      .article-title,
      .field--name-field-description {
        color: $white;
      }

      .content-authors-wrapper {

        .authors-text-wrapper {

          .people-link-name {
            color:  $white;

            a {
              color: $white;

              &:hover {
                color:  $white;
              }

              &::before {
                background-color: $white;
              }
            }
          }

        }

      }




      .content-date-wrapper {
        display: flex;

        .created-time {
          font-weight: 600;
        }

        .updated-time {
          margin-left: .25rem;
          &::before {
            content: '- ';
          }
        }
      }
    }

  }

  &.node--view-mode-story {

    .header-node-content {
      position: relative;
      margin: -9.25rem auto 2.5rem;
      width: 100%;
      max-width: 100%;
      height: 100vh;
      @include min-screen($screen-desktop) {
        margin: -3.5rem auto 3.5rem;
      }

      .btn-skip-story {
        position: fixed;
        display: none;
        bottom: 5rem;
        right: 6rem;
        z-index: 31;
      }

      .story-item {
        position: absolute;
        width: 100%;
        height: 100vh;
        @include descending-z-index;

        .story {
          height: 100vh;
        }

        .text-wrapper {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          color: $white;
          z-index: 2;

          .field--name-title {
            @include responsive(font-size, $page-title);
            font-weight: 800;
          }

        }

        &:not(.story-home) {
          .field--name-title {
            font-size: 1.5rem;
            font-weight: normal;
            margin-bottom: 1rem;
          }
          .field--name-field-description {
            @include responsive(font-size, $story-item-description);
            font-weight: 600;
            max-width: 46rem;
          }
        }
      }

      .field--name-field-ref-image {
        position: absolute;
        left: 50%;
        top: 0;
        width: 100vw;
        height: 100%;
        transform: translateX(-50%);
        &::after {
          content:'';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $black;
          opacity: .4;
        }


        .media {
          display: block;
          height: 100%;
          width: 100%;
        }

        .field--name-field-media-image {
          height: 100%;
          width: 100%;
        }

        img {
          @include img-cover;
          position: relative;
          z-index: -1;
        }
      }

      .article-title {
        position: relative;
        @include responsive(font-size, $page-title);
        font-weight: 800;
        color: $white;
      }

      .story-location {
        .story-city, .story-country {
          display: inline-block;
          padding-bottom: .0625rem;
          font-size: .875rem;
          font-weight: 600;
          color: $white;
          &:hover {
            text-decoration: none;
          }
        }

        .story-city + .story-country {
          position: relative;
          margin-left: .5rem;
          &::before {
            content: ',';
            position: absolute;
            left: -.5rem;
          }
        }

        a.story-country, a.story-city {
          border-bottom: .0625rem solid $white,
        }
      }

    }

    .field--name-field-copyright {
      position: absolute;
      right: 2.5rem;
      bottom: 1.5rem;
      z-index: 2;
      font-size: .75rem;
      font-weight: 400;
      opacity: .7;
      color: $white;
    }
  }

  &.node--view-mode-video {

    .field--name-field-video {
      margin-top: 2.5rem;
      @include min-screen($screen-desktop) {
        margin-top: 4rem;
      }
      @include mb-block;

      .media--type-oembed-video {
        width: 100%;

        &.media--view-mode-full-size {
          position: relative;
          width: 100vw;
          max-width: 65rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .field--name-field-media-oembed-video {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%; /* 16:9 */
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

