$paddingTop: (
  null: 2.5rem,
  large: 3.5rem
);

.node--type-article {
  &.node--view-mode-news,
  &.node--view-mode-event,
  &.node--view-mode-article,
  &.node--view-mode-report,
  &.node--view-mode-project,
  &.node--view-mode-idea,
  &.node--view-mode-press-release,
  &.node--view-mode-story,
  &.node--view-mode-video,
  &.node--view-mode-full {
    position: relative;
    padding-top: 2.5rem;
    @include responsive(padding-top, $paddingTop);

    .node__content {
      display: flex;

      .main-node-content {
        width: 100%;
        max-width: 38.125rem;
        margin: 0 auto;
      }
    }

    .rich-text p {
      line-height: 1.75;

      @include min-screen($screen-desktop) {
        line-height: 1.67;
      }
    }
  }
}
