.node--type-resources {

  .resource_group > .field--name-title {
    @include responsive(font-size, $section-title-small);
    font-weight: 800;
    margin-bottom: 1rem;
    @include min-screen($screen-desktop) {
      margin-bottom: 2rem;
    }
  }

  .resource-group {

    &-item {

      a {
        text-decoration: none;

        article.media {
          border-top: .0625rem solid $grey2;
          flex-direction: column;
          padding: 1.5rem 0;
          @include min-screen($screen-desktop) {
            padding: 1.5rem 0 2.5rem;
          }

          &.media--type-oembed-video {
            position: relative;
            &::after {
              position: absolute;
              top: 2.5rem;
              left: 1rem;
              background-color: $BlueU;
              width: 2.5rem;
              height: 2.5rem;
              line-height: 2.5rem;
              border-radius: 50%;
              @include icon('play_arrow');
              color: $white;
              text-align: center;
              font-size: 1.5rem;
            }
          }

          .field--name-field-media-image {
            position: relative;
            width: 100%;
            margin-bottom: 1.5rem;

            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-color: #000000;
              z-index: 1;
              opacity: 0;
              transition: .3s;
            }

            &::after {
              position: absolute;
              top: 1rem;
              right: 1rem;
              z-index: 2;
              @include icon('fullscreen');
              color: $grey4;
              width: 2rem;
              height: 2rem;
              border-radius: 50%;
              background-color: $white;
              text-align: center;
              line-height: 2rem;
              opacity: 0;
              transition: .3s;
            }

            img {
              width: 100%;
            }

          }


          .field--name-field-legende,
          .field--name-field-copyright {
            font-size: .875rem;
            font-weight: 400;
            margin-bottom: .5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
          }

          .field--name-field-legende {
            color: $grey5;
            -webkit-line-clamp: 3;
          }

          .field--name-field-copyright {
            color: $grey4;
            -webkit-line-clamp: 1;
          }

        }

        &:hover {

          article.media {

            .field--name-field-media-image {

              &::before {
                opacity: .4;
              }

              &::after {
                opacity: 1;
                transition: .3s;
              }

            }

          }

        }

      }

    }

  }

}
.page-node-type-resources {
  .ui-dialog:not(.ui-dialog-off-canvas) {
    margin: 0;
  }
}

