.node--type-field-office {
  &.node--view-mode-full {
    .header-texts {
      @include min-screen($screen-desktop) {
        max-width: 56rem;
      }

      >.header-texts {
        padding-top: 0;
      }

      .title {
        font-size: 1.75rem;
        line-height: 2rem;

        @include min-screen($screen-desktop) {
          font-size: 3.75rem;
          line-height: 4.5rem;
        }
      }

      .field--name-field-description,
      .field--name-field-ref-countries,
      .field--name-field-ref-countries > .field__item {
        display: inline;
      }

      .field--name-field-ref-countries {
        @include min-screen($screen-desktop) {
          font-size: 1.25rem;
        }

        >.field__item {
          color: $white;

          &:first-child {
            &::before {
              content: "-";
              margin: 0 0.25rem;
            }
          }

          &::after {
            content: ",";
          }

          &:last-child {
            &::after {
              display: none;
            }
          }
        }

        a {
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }

  .footer-wrapper {
    margin-top: 3rem;
    @include fullWidthBackground($grey1);
    padding: 1.5rem 0;

    @include min-screen($screen-desktop) {
      padding: 3.5rem 0;
      margin-top: 7.5rem;
    }

    .footer-field-office {
      display: flex;
    }

    .footer-infos {
       @include min-screen($screen-desktop) {
        padding-right: 2rem;
       }

      &, * {
        font-size: 0.875rem;
        line-height: 1.25rem;
      }

      .footer-title {
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      .phone-link, .mailto-link {
        display: block;
      }

      .field--name-field-social-networks {
        margin: 1.5rem -0.25rem 0;
        display: flex;

        >.field__item {
          padding: 0 0.25rem;

          .icon + span {
            display: none;
          }
        }

        .icon-external::after {
          display: none;
        }
      }
    }

    .footer-map {
      max-width: 50%;
      width: 50%;
      display: none;
  
      @include min-screen($screen-desktop) {
        display: block;
        margin-left: auto;
      }

      #explorer {
        .map-wrapper {
          width: 100%;
  
          .map-inner {
            width: 100%;
            overflow: hidden;
            border-radius: 0.5rem;
            height: 17.688rem;
          }
        }
  
        .tab-content article a {
          display: none;
        }
      }
    }
  }

  .field--name-field-image-footer {
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;

    @include min-screen($screen-tablet) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  .footer-field-office {
    &+.footer-hub {
      @include min-screen($screen-desktop) {
        margin-top: 0;
      }
    }
  }

  &.node--view-mode-teaser {
    .card {
      height: 100%;
      position: relative;

      .social_network {
        a span {
          font-size: 1.3rem;
        }
      }
    }

    .card-title a {
      color: inherit;
      text-decoration: none;
    }

    .card-overlay .card-body,
    .contextual-region {
      position: static;
    }

    .card-overlay::before {
      z-index: 1;
    }

    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-position: center center;
      background-size: cover;
      z-index: 0;
    }
  }
}
