$margin24: (
  null: 1rem,
  large: 1.5rem
);

.region-content {
  padding: 0;
}

.node--view-mode-full {
  .article-title {
    margin-top: 0;
    @include responsive(margin-bottom, $margin24);
  }

  .addthis_toolbox {
    @include mb-block;
  }

  .share-title,
  .about-author-title,
  .content-tags .item-list h3,
  .bottom-cta-title {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: 0 0 1rem;
  }

  .media-wrapper {
    font-size: 0.875rem;
    margin-bottom: 1rem;

    @include min-screen($screen-desktop) {
      margin-bottom: 2rem;
    }

    .field--name-field-ref-image {
      margin-bottom: 1rem;

      .field--name-field-media-image {
        width: 100%;
        height: 13.625rem;

        @include min-screen($screen-desktop) {
          height: 25.375rem;
        }

        img {
          @include img-cover;
        }
      }

    }

    .media-footer {
      &.fullsize {
        padding: 0 1.5rem;
        @include min-screen($screen-tablet) {
          max-width: 520px;
          margin: 0 auto;
        }

        @include min-screen(768px) {
          max-width: 700px;
          padding: 0 3rem;
        }

        @include min-screen($screen-desktop) {
          padding: 0;
          max-width: 38.125rem;
        }
      }
    }

    .media-legend {
      color: $grey5;
    }

    .media-copyright,
    .media-license {
      color: $grey4;
      display: inline-block;
      padding-left: .125rem;
    }

    .media-copyright + .media-license {
      display: inline;
      margin-left: -.25rem;
      &::before {
        content: '. ';
      }

    }
  }

  .last-update {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.875rem;

    @include min-screen($screen-desktop) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  .content-tags {
    margin-bottom: 2rem;

    @include min-screen($screen-desktop) {
      margin-bottom: 3rem;
    }

    .item-list {
      ul {
        @include noneListStyle;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.25rem -.5rem;

        li {
          padding: 0 0.25rem 0.5rem;
        }
      }
    }
  }

  .content-sdg {
    margin-bottom: 2rem;

    > div {
      padding: 0;
    }

    p {
      font-size: 0.875rem;
    }

    @include min-screen($screen-desktop) {
      margin-bottom: 3rem;
    }
  }

  .previous-publications {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: .5rem;
    @include mb-block-big;

    @include min-screen($screen-desktop) {
      padding: 2rem;
    }

    &--title {
      font-weight: 600;
    }

    .publications-wrapper {
      margin-top: 1rem;
    }
  }

  &.media-large {
    .media-wrapper {
      position: relative;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);

      .field--name-field-ref-image {
        .field--name-field-media-image {
          height: 23.5rem;

          @include min-screen($screen-tablet) {
            height: 32rem;
          }

          @include min-screen($screen-desktop) {
            height: auto;
          }
        }
      }
    }
  }
}

.node--type-article,
.node--type-page,
.node--type-sequenced-page {
  &.node--view-mode-full {

    .node__content {
      display: flex;

      .main-node-content {
        width: 100%;
        max-width: 38.125rem;
        margin: 0 auto;

        .main-node-header {
          @include min-screen($screen-desktop) {
            width: 51.5rem;
          }
        }

        > .field--name-field-ref-image {
          .field--name-field-media-image,
          img {
            width: 100%;
            max-width: unset;
          }

          .field--name-field-media-image {
            width: 100%;
          }
        }
      }

      .content-header {
        margin-bottom: 2.5rem;
        @include min-screen($screen-desktop) {
          margin-bottom: 4rem;
        }
        @include min-screen($screen-desktop-xl) {
          width: 51.5rem;
        }
      }

      .field--name-field-ref-cta {
        width: 100%;

        .banner-image {
          .material-icons-sharp {
            font-size: 6rem;
            color: white;
          }
        }

        .banner-text {
          font-weight: 600;
        }
      }
    }
  }
}

.page-unpublished {
  background-color: $unpublished;

  .node--view-mode-full {
    background-color: $white;
  }

  div,
  span,
  p {
    color: $body-color;
  }
}

.event {
  background-color: $grey1;
  padding: 1.5rem;
  border-radius: .5rem;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 2rem;

  @include min-screen($screen-desktop) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  .event-word {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $BlueU;
    margin: 0 0 0.5rem;
  }

  .field--name {
    &-title {
      font-size: 1.125rem;
      line-height: 1.5rem;
      font-weight: 600;
      margin: 0;

      @include min-screen($screen-desktop) {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }

    &-field-date {
      font-weight: 600;
      margin: 0;

      @include min-screen($screen-desktop) {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }

    &-field-location {
      margin: 1rem 0 0.5rem;
    }
  }

  .field-prefix {
    font-weight: 600;
  }

  .wrapper-event-item {
    display: flex;
    margin-bottom: 0.5rem;

    a {
      color: $darkGrey;
      text-decoration: underline;
    }

    .field-prefix {
      margin-right: 0.25rem;
    }
  }

  .field--name-field-language {
    .field__item {
      display: inline;
      &::after {
        content: ',';
      }
    }
    :last-child.field__item::after {
      content: '';
    }
  }



  .buttons-event {
    margin-top: 2rem;
    margin-bottom: 0.5rem;

    >.field,
    >a {
      display: inline-block;
      margin-right: 0.5rem;
    }

    .btn {
      margin-bottom: 0.5rem;
    }

    .lien-ical {
      &::after {
        @include icon('calendar_today');
        color: inherit;
        font-size: 1rem;
        vertical-align: middle;
        margin-left: 0.5rem;
      }
    }
  }
}

.content-infos-wrapper {
  font-size: .875rem;
  margin-bottom: 2rem;
  @include min-screen($screen-desktop) {
    margin-bottom: 3rem;
  }

  .content-authors-wrapper {
    a, div {
      display: inline;
      color:  $darkGrey;

      &:hover {
        text-decoration: none;
        color:  $darkGrey;
      }

      .people-link-name {
        font-weight: 600;
        &::after {
          content: ',';
          margin-left: -.25rem;
        }
      }
    }

    a .people-link-name {
      position: relative;
      &::before {
        content: '';
        left: 0;
        bottom: 0;
        position: absolute;
        width: calc(100% - .25rem);
        height: .0625rem;
        background-color: $darkGrey;
      }
    }
  }

  .content-date-wrapper {
    display: flex;

    .created-time {
      font-weight: 600;
    }

    .updated-time {
      margin-left: .25rem;
      &::before {
        content: '- ';
      }
    }
  }

  .content-press-wrapper {
    font-weight: 600;
  }
}
