$paddingTop: (
  null: 2.5rem,
  large: 3.5rem
);

.node--type-page {
  &.node--view-mode-full {
    position: relative;
    padding-top: 2.5rem;
    @include responsive(padding-top, $paddingTop);

    .node__content {
      display: flex;
    }

    .rich-text p {
      line-height: 1.75;

      @include min-screen($screen-desktop) {
        line-height: 1.67;
      }
    }
  }
}
