html:lang(fr) {

  // Quote on article
  .page-node-type-article,
  .page-node-type-sequenced-page,
  .node--type-page {
    .paragraph--type--quote {
      .rich-text {
        &::before {
          content: "\00ab";
        }
        &::after {
          content: "\00bb";
        }
      }
    }
  }

}
